In [1]:
# Importamos las librerias necesarias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
url = 'https://drive.google.com/uc?export=download&id=1h3We42lIDv8lqY0siWLXo5MMwgrGrt6J'
inventario_inicial = pd.read_csv(url)

url = 'https://drive.google.com/uc?export=download&id=13oLTpxnY7CRd9iR604N8kfKvmbBla8VG'
inventario_final = pd.read_csv(url)

url = 'https://drive.usercontent.google.com/download?id=1Id7ERr7pXVJCfempvpEzseJ8WPF_Hs5j&export=download&authuser=0&confirm=t&uuid=3f33a3fd-2696-4250-b026-b62f6c445e4a&at=APZUnTUbyMP2tLICvQCO15n8Z4fY%3A1723646561085'
compras = pd.read_csv(url)

url = 'https://drive.usercontent.google.com/download?id=1QvW3YxNzlQy9FbBZuil6VlE2ZQSIPC4o&export=download&authuser=0&confirm=t&uuid=277da297-06fa-4d0e-9cc4-8e607e577846&at=APZUnTWdj6JrNn6b7VQ9vwcoCaZN%3A1723646612159'
ventas = pd.read_csv(url)

In [23]:
# Abrimos los archivos .csv
inventario_inicial = pd.read_csv('https://drive.google.com/uc?export=download&id=1h3We42lIDv8lqY0siWLXo5MMwgrGrt6J')
inventario_final = pd.read_csv('https://drive.google.com/uc?export=download&id=13oLTpxnY7CRd9iR604N8kfKvmbBla8VG')
compras = pd.read_csv('https://drive.usercontent.google.com/download?id=1Id7ERr7pXVJCfempvpEzseJ8WPF_Hs5j&export=download&authuser=0&confirm=t&uuid=3f33a3fd-2696-4250-b026-b62f6c445e4a&at=APZUnTUbyMP2tLICvQCO15n8Z4fY%3A1723646561085')
ventas = pd.read_csv('https://drive.usercontent.google.com/download?id=1QvW3YxNzlQy9FbBZuil6VlE2ZQSIPC4o&export=download&authuser=0&confirm=t&uuid=277da297-06fa-4d0e-9cc4-8e607e577846&at=APZUnTWdj6JrNn6b7VQ9vwcoCaZN%3A1723646612159')

## Vemos la informacion que contiene cada dataset

### Analizamos inventario_inicial

In [11]:
inventario_inicial.head(5)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2016-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2016-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2016-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2016-01-01

In [12]:
inventario_inicial.info

<bound method DataFrame.info of                InventoryId  Store          City  Brand  \
0        1_HARDERSFIELD_58      1  HARDERSFIELD     58
1        1_HARDERSFIELD_60      1  HARDERSFIELD     60
2        1_HARDERSFIELD_62      1  HARDERSFIELD     62
3        1_HARDERSFIELD_63      1  HARDERSFIELD     63
4        1_HARDERSFIELD_72      1  HARDERSFIELD     72
...                    ...    ...           ...    ...
206524  79_BALLYMENA_46985     79     BALLYMENA  46985
206525  79_BALLYMENA_47014     79     BALLYMENA  47014
206526  79_BALLYMENA_47090     79     BALLYMENA  47090
206527  79_BALLYMENA_90011     79     BALLYMENA  90011
206528  79_BALLYMENA_90089     79     BALLYMENA  90089

                         Description   Size  onHand   Price   startDate
0        Gekkeikan Black & Gold Sake  750mL       8   12.99  2016-01-01
1             Canadian Club 1858 VAP  750mL       7   10.99  2016-01-01
2           Herradura Silver Tequila  750mL       6   36.99  2016-01-01
3         Herradura Reposado Tequila  750mL       3   38.99  2016-01-01
4               No. 3 London Dry Gin  750mL       6   34.99  2016-01-01
...                              ...    ...     ...     ...         ...
206524  Rodney Strong Cab Svgn Alexa  750mL      13   22.99  2016-01-01
206525           Juan Gil Jumilla Rd  750mL      13   13.99  2016-01-01
206526    Napa Cellars Cab Svgn Napa  750mL      19   23.99  2016-01-01
206527  Ch Pichon Longville 12 Pauil  750mL      12  144.99  2016-01-01
206528    Ch Lynch Bages 12 Pauillac  750mL      24  119.99  2016-01-01

[206529 rows x 9 columns]>

In [13]:
inventario_inicial.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'startDate'],
      dtype='object')

Para saber mas sobre esta tabla vamos a analizar la columna startDate

In [14]:
fecha_mas_vieja = inventario_inicial['startDate'].min()
fecha_mas_nueva = inventario_inicial['startDate'].max()
print(fecha_mas_nueva)
print(fecha_mas_vieja)

2016-01-01
2016-01-01

Vamos a asegurarnos que son todas las mismas fechas

In [15]:
unique_dates_count = inventario_inicial['startDate'].nunique()
print(f"Número de fechas únicas: {unique_dates_count}")

Número de fechas únicas: 1

Efectivamente esta tabla indica el inventario existente al 2016-01-01

Posee 206529 rows x 9 columns

Sus columnas son: ['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size','onHand', 'Price', 'startDate']

La columna InventoryId podria ser utilizada como key

### Ahora analizaremos inventario_final para asegurarnos que es el inventario a una fecha final

In [16]:
inventario_final.head(5)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2016-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2016-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2016-12-31

In [17]:
inventario_final.info

<bound method DataFrame.info of               InventoryId  Store          City  Brand  \
0       1_HARDERSFIELD_58      1  HARDERSFIELD     58
1       1_HARDERSFIELD_62      1  HARDERSFIELD     62
2       1_HARDERSFIELD_63      1  HARDERSFIELD     63
3       1_HARDERSFIELD_72      1  HARDERSFIELD     72
4       1_HARDERSFIELD_75      1  HARDERSFIELD     75
...                   ...    ...           ...    ...
224484  81_PEMBROKE_90087     81      PEMBROKE  90087
224485  81_PEMBROKE_90088     81      PEMBROKE  90088
224486  81_PEMBROKE_90089     81      PEMBROKE  90089
224487  81_PEMBROKE_90090     81      PEMBROKE  90090
224488  81_PEMBROKE_90604     81      PEMBROKE  90604

                         Description   Size  onHand   Price     endDate
0        Gekkeikan Black & Gold Sake  750mL      11   12.99  2016-12-31
1           Herradura Silver Tequila  750mL       7   36.99  2016-12-31
2         Herradura Reposado Tequila  750mL       7   38.99  2016-12-31
3               No. 3 London Dry Gin  750mL       4   34.99  2016-12-31
4          Three Olives Tomato Vodka  750mL       7   14.99  2016-12-31
...                              ...    ...     ...     ...         ...
224484  Ch Mouton Rothschild 12 Paui  750mL       3  469.99  2016-12-31
224485  Ch Le Petite Mouton 12 Pauil  750mL       3  134.99  2016-12-31
224486    Ch Lynch Bages 12 Pauillac  750mL       3  119.99  2016-12-31
224487       Ch Lafite Rothschild 12  750mL       3  649.99  2016-12-31
224488        Ch Lynch Bages Pauilac  750mL       2  119.99  2016-12-31

[224489 rows x 9 columns]>

In [18]:
inventario_final.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'endDate'],
      dtype='object')

In [19]:
unique_dates_count = inventario_final['endDate'].nunique()

print(f"Número de fechas únicas: {unique_dates_count}")

Número de fechas únicas: 1

Efectivamente esta tabla indica el inventario existente al 2016-01-01

Posee 224489 rows x 9 columns

Sus columnas son: 'InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size', 'onHand', 'Price', 'endDate'

La columna InventoryId podria ser utilizada como key

Las filas no cohinciden con el numero de inventario_inicial

### Ahora veamos compras

In [24]:
compras.head(5)

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2015-12-21,2016-01-02,2016-01-04,2016-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1

In [25]:
compras.info

<bound method DataFrame.info of                   InventoryId  Store  Brand                   Description  \
0           69_MOUNTMEND_8412     69   8412     Tequila Ocho Plata Fresno
1            30_CULCHETH_5255     30   5255  TGI Fridays Ultimte Mudslide
2           34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced
3         1_HARDERSFIELD_5255      1   5255  TGI Fridays Ultimte Mudslide
4           76_DONCASTER_2034     76   2034     Glendalough Double Barrel
...                       ...    ...    ...                           ...
2372469     49_GARIGILL_22298     49  22298       Zorvino Vyds Sangiovese
2372470  1_HARDERSFIELD_19556      1  19556    Zorvino Bacca Z Blackberry
2372471   66_EANVERNESS_22297     66  22297            Zorvino Vyds Pearz
2372472    69_MOUNTMEND_19557     69  19557  Zorvino Fragole Z Strawberry
2372473    55_DRY GULCH_22298     55  22298       Zorvino Vyds Sangiovese

          Size  VendorNumber                   VendorName  PONumber  \
0        750mL           105  ALTAMAR BRANDS LLC               8124
1        1.75L          4466  AMERICAN VINTAGE BEVERAGE        8137
2        1.75L          4466  AMERICAN VINTAGE BEVERAGE        8137
3        1.75L          4466  AMERICAN VINTAGE BEVERAGE        8137
4        750mL           388  ATLANTIC IMPORTING COMPANY       8169
...        ...           ...                          ...       ...
2372469  750mL         90058  ZORVINO VINEYARDS               13593
2372470  750mL         90058  ZORVINO VINEYARDS               13593
2372471  750mL         90058  ZORVINO VINEYARDS               13593
2372472  750mL         90058  ZORVINO VINEYARDS               13593
2372473  750mL         90058  ZORVINO VINEYARDS               13593

             PODate ReceivingDate InvoiceDate     PayDate  PurchasePrice  \
0        2015-12-21    2016-01-02  2016-01-04  2016-02-16          35.71
1        2015-12-22    2016-01-01  2016-01-07  2016-02-21           9.35
2        2015-12-22    2016-01-02  2016-01-07  2016-02-21           9.41
3        2015-12-22    2016-01-01  2016-01-07  2016-02-21           9.35
4        2015-12-24    2016-01-02  2016-01-09  2016-02-16          21.32
...             ...           ...         ...         ...            ...
2372469  2016-12-19    2016-12-28  2017-01-09  2017-02-06           8.06
2372470  2016-12-19    2016-12-27  2017-01-09  2017-02-06           9.39
2372471  2016-12-19    2016-12-26  2017-01-09  2017-02-06           6.75
2372472  2016-12-19    2016-12-26  2017-01-09  2017-02-06           9.39
2372473  2016-12-19    2016-12-28  2017-01-09  2017-02-06           8.06

         Quantity  Dollars  Classification
0               6   214.26               1
1               4    37.40               1
2               5    47.05               1
3               6    56.10               1
4               5   106.60               1
...           ...      ...             ...
2372469        12    96.72               2
2372470        12   112.68               2
2372471        12    81.00               2
2372472        12   112.68               2
2372473        12    96.72               2

[2372474 rows x 16 columns]>

In [26]:
compras.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

compras = pd.read_csv('PurchasesFINAL12312016.csv'):
Indica las compras hechas por la empresa

Posee 2372474 rows x 16 columns

Sus columnas son : 'InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'

Vemos que existen columnas similares con otras tablas como 'InventoryId', 'PONumber', 'PODate', 'PayDate'. 
Ver si estas cohinciden con las otras tablas

### Ahora veamos Ventas

In [27]:
ventas.head()

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/1/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,1/2/2016,750,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/3/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,1/8/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,1/9/2016,375,1,0.79,12546,JIM BEAM BRANDS COMPANY

In [28]:
ventas.info

<bound method DataFrame.info of                  InventoryId  Store  Brand                 Description  \
0        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
1        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
2        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
3        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
4        1_HARDERSFIELD_1005      1   1005     Maker's Mark Combo Pack
...                      ...    ...    ...                         ...
1048570  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048571  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048572  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048573  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048574  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr

               Size  SalesQuantity  SalesDollars  SalesPrice  SalesDate  \
0             750mL              1         16.49       16.49   1/1/2016
1             750mL              2         32.98       16.49   1/2/2016
2             750mL              1         16.49       16.49   1/3/2016
3             750mL              1         14.49       14.49   1/8/2016
4        375mL 2 Pk              2         69.98       34.99   1/9/2016
...             ...            ...           ...         ...        ...
1048570       750mL              4         51.80       12.95  2/12/2016
1048571       750mL              8        103.60       12.95  2/13/2016
1048572       750mL              1         12.95       12.95  2/19/2016
1048573       750mL              3         38.85       12.95  2/22/2016
1048574       750mL              2         25.90       12.95  2/24/2016

         Volume  Classification  ExciseTax  VendorNo  \
0           750               1       0.79     12546
1           750               1       1.57     12546
2           750               1       0.79     12546
3           750               1       0.79     12546
4           375               1       0.79     12546
...         ...             ...        ...       ...
1048570     750               2       0.45      2000
1048571     750               2       0.90      2000
1048572     750               2       0.11      2000
1048573     750               2       0.34      2000
1048574     750               2       0.22      2000

                          VendorName
0        JIM BEAM BRANDS COMPANY
1        JIM BEAM BRANDS COMPANY
2        JIM BEAM BRANDS COMPANY
3        JIM BEAM BRANDS COMPANY
4        JIM BEAM BRANDS COMPANY
...                              ...
1048570  SOUTHERN WINE & SPIRITS NE
1048571  SOUTHERN WINE & SPIRITS NE
1048572  SOUTHERN WINE & SPIRITS NE
1048573  SOUTHERN WINE & SPIRITS NE
1048574  SOUTHERN WINE & SPIRITS NE

[1048575 rows x 14 columns]>

In [29]:
ventas.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

ventas: Indica las ventas realizadas

Posee 1048575 rows x 14 columns

Sus columnas son: 'InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'

# Buscamos valores nulos
# Función para verificar valores nulos y vacíos

In [31]:
def check_missing_values(df, name):
    print(f"\nDataset: {name}")
    print("Valores nulos en cada columna:")
    print(df.isnull().sum())
    
    print("\nValores vacíos en cada columna:")
    print(df.apply(lambda x: x.str.strip().eq('').sum() if x.dtype == "object" else 0))

# Verificar los valores nulos y vacíos en cada dataset
check_missing_values(inventario_inicial, 'inventario_inicial')
check_missing_values(inventario_final, 'inventario_final')
check_missing_values(compras, 'compras')
check_missing_values(ventas, 'ventas')

Dataset: inventario_inicial
Valores nulos en cada columna:
InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
onHand         0
Price          0
startDate      0
dtype: int64

Valores vacíos en cada columna:
InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
onHand         0
Price          0
startDate      0
dtype: int64

Dataset: inventario_final
Valores nulos en cada columna:
InventoryId       0
Store             0
City           1284
Brand             0
Description       0
Size              0
onHand            0
Price             0
endDate           0
dtype: int64

Valores vacíos en cada columna:
InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
onHand         0
Price          0
endDate        0
dtype: int64

Dataset: compras
Valores nulos en cada columna:
InventoryId       0
Store             0
Brand             0
Description       0
Size              3
VendorNumber      0
VendorName        0
PONumber          0
PODate            0
ReceivingDate     0
InvoiceDate       0
PayDate           0
PurchasePrice     0
Quantity          0
Dollars           0
Classification    0
dtype: int64

Valores vacíos en cada columna:
InventoryId       0
Store             0
Brand             0
Description       0
Size              0
VendorNumber      0
VendorName        0
PONumber          0
PODate            0
ReceivingDate     0
InvoiceDate       0
PayDate           0
PurchasePrice     0
Quantity          0
Dollars           0
Classification    0
dtype: int64

Dataset: ventas
Valores nulos en cada columna:
InventoryId       0
Store             0
Brand             0
Description       0
Size              0
SalesQuantity     0
SalesDollars      0
SalesPrice        0
SalesDate         0
Volume            0
Classification    0
ExciseTax         0
VendorNo          0
VendorName        0
dtype: int64

Valores vacíos en cada columna:
InventoryId       0
Store             0
Brand             0
Description       0
Size              0
SalesQuantity     0
SalesDollars      0
SalesPrice        0
SalesDate         0
Volume            0
Classification    0
ExciseTax         0
VendorNo          0
VendorName        0
dtype: int64

In [32]:
# Lista de tus datasets y sus nombres
datasets = [
            (inventario_inicial, 'inventario_inicial'),
            (inventario_final, 'inventario_final'),
            (compras, 'compras'),
            (ventas, 'ventas')]

# Ciclo para iterar sobre cada dataset y buscar filas con valores nulos
for df, name in datasets:
    print(f"\nDataset: {name}")
    filas_nulas = df[df.isnull().any(axis=1)]
    if not filas_nulas.empty:
        print(f"Filas con valores nulos en {name}:")
        print(filas_nulas)
    else:
        print(f"No se encontraron filas con valores nulos en {name}.")

Dataset: inventario_inicial
No se encontraron filas con valores nulos en inventario_inicial.

Dataset: inventario_final
Filas con valores nulos en inventario_final:
       InventoryId  Store City  Brand                   Description   Size  \
113895      46__58     46  NaN     58   Gekkeikan Black & Gold Sake  750mL
113896      46__62     46  NaN     62      Herradura Silver Tequila  750mL
113897      46__63     46  NaN     63    Herradura Reposado Tequila  750mL
113898      46__77     46  NaN     77   Three Olives Espresso Vodka  750mL
113899     46__106     46  NaN    106      Mr Boston Peach Schnapps  Liter
...            ...    ...  ...    ...                           ...    ...
115174   46__46447     46  NaN  46447         Gascon Malbec Mendoza  750mL
115175   46__46458     46  NaN  46458      Layer Cake Barosa Shiraz  750mL
115176   46__46476     46  NaN  46476          Tilia Malbec Mendoza  750mL
115177   46__46764     46  NaN  46764  Clayhouse Adobe Red Paso Rbl  750mL
115178   46__46830     46  NaN  46830         Pacific Rim Sweet Rsl  750mL

        onHand  Price     endDate
113895       0  12.99  2016-12-31
113896       0  36.99  2016-12-31
113897       0  38.99  2016-12-31
113898       0  14.99  2016-12-31
113899       0   4.49  2016-12-31
...        ...    ...         ...
115174       0  10.99  2016-12-31
115175       0  15.99  2016-12-31
115176       0   9.99  2016-12-31
115177       0  11.99  2016-12-31
115178       0   8.99  2016-12-31

[1284 rows x 9 columns]

Dataset: compras
Filas con valores nulos en compras:
                 InventoryId  Store  Brand                 Description Size  \
1109668    34_PITMERDEN_3121     34   3121    Pinnacle Rainbow Sherbet  NaN
1112426    34_PITMERDEN_5678     34   5678      Skinnygirl Pina Colada  NaN
1116302  39_EASTHALLOW_15365     39  15365  Alabaster 07 Tinta de Toro  NaN

         VendorNumber                   VendorName  PONumber      PODate  \
1109668         12546  JIM BEAM BRANDS COMPANY         10938  2016-06-27
1112426         12546  JIM BEAM BRANDS COMPANY         10938  2016-06-27
1116302          9552  M S WALKER INC                  10972  2016-06-29

        ReceivingDate InvoiceDate     PayDate  PurchasePrice  Quantity  \
1109668    2016-07-04  2016-07-13  2016-08-16           6.93         7
1112426    2016-07-09  2016-07-13  2016-08-16           6.93         6
1116302    2016-07-07  2016-07-13  2016-08-21          91.83         1

         Dollars  Classification
1109668    48.51               1
1112426    41.58               1
1116302    91.83               2

Dataset: ventas
No se encontraron filas con valores nulos en ventas.

In [33]:
for df, name in datasets:
    print(f"\nDataset: {name}")
    total_nulos = df.isnull().sum().sum()  # Suma total de valores nulos en el dataset
    print(f"Total de valores nulos en {name}: {total_nulos}")

Dataset: inventario_inicial
Total de valores nulos en inventario_inicial: 0

Dataset: inventario_final
Total de valores nulos en inventario_final: 1284

Dataset: compras
Total de valores nulos en compras: 3

Dataset: ventas
Total de valores nulos en ventas: 0

## Limpieza de los DataFrame

### Ahora veamos los valores nulos de inventario_final

In [34]:
# Obtener los valores únicos en la columna 'City'
valores_unicos_city = inventario_final['City'].unique()

# Mostrar los valores únicos
print("Valores únicos en la columna 'City':")
print(valores_unicos_city)

# Contar cuántos valores únicos hay
print(f"\nNúmero total de valores únicos en 'City': {len(valores_unicos_city)}")

Valores únicos en la columna 'City':
['HARDERSFIELD' 'ASHBORNE' 'HORNSEY' 'EANVERNESS' 'SUTTON' 'GOULCREST'
 'STANMORE' 'ALNERWICK' 'BLACKPOOL' 'CARDEND' 'LEESIDE' 'TARMSWORTH'
 'BROMWICH' 'WANBORNE' 'LUNDY' 'OLDHAM' 'FURNESS' 'WINTERVALE'
 'BREDWARDINE' 'BALERNO' 'SHARNWICK' 'ARBINGTON' 'PALPERROTH' 'CAERSHIRE'
 "KNIFE'S EDGE" 'MOUNTMEND' 'LARNWICK' 'AYLESBURY' 'CULCHETH' 'PITMERDEN'
 'HALIVAARA' 'LEWES' 'PAETHSMOUTH' 'EASTHALLOW' 'BULLMAR' 'BLACK HOLLOW'
 'WOLFORD' 'PORTHCRAWL' 'VERITAS' nan "PELLA'S WISH" 'NORFOLK' 'GARIGILL'
 'ABERDEEN' 'GRAYCOTT' 'HILLFAR' 'GUTHRAM' 'DRY GULCH' "BEGGAR'S HOLE"
 'LANTEGLOS' 'HARTLEPOOL' 'CLAETHORPES' 'IRRAGIN' 'AETHELNEY' 'KILMARNOCK'
 'SWORDBREAK' 'CESTERFIELD' 'LUTON' 'SOLARIS' 'KELD' 'CLARCTON'
 'DONCASTER' 'PAENTMARWY' 'BARNCOMBE' 'TAMWORTH' 'EASTHAVEN' 'BALLYMENA'
 'PEMBROKE']

Número total de valores únicos en 'City': 68

Decidimos rellerar los valores nulos en City con 'Desconocido' par no eliminar ni rellenar con informacion erronea

In [35]:
inventario_final['City'].fillna('Desconocido', inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_19008\129095551.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  inventario_final['City'].fillna('Desconocido', inplace=True)

### Ahora veamos el dataset 'compras'

In [37]:
# Rellenar los valores NaN en la columna 'Size' con 'Desconocido'
compras['Size'].fillna('Desconocido', inplace=True)

# Verificar que los valores NaN han sido reemplazados
print(compras['Size'].isnull().sum())

0

C:\Users\User\AppData\Local\Temp\ipykernel_19008\2708867146.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  compras['Size'].fillna('Desconocido', inplace=True)

Decidimo rellenar los datos vacios con 'Desconocido' para na afectar los datos geograficos legitimos

### Verifiquemos si queda algun Nulo

In [39]:
# Lista de tus datasets y sus nombres
datasets = [
            (inventario_inicial, 'inventario_inicial'),
            (inventario_final, 'inventario_final'),
            (compras, 'compras'),
            (ventas, 'ventas')]

for df, name in datasets:
    print(f"\nDataset: {name}")
    total_nulos = df.isnull().sum().sum()  # Suma total de valores nulos en el dataset
    print(f"Total de valores nulos en {name}: {total_nulos}")

Dataset: inventario_inicial
Total de valores nulos en inventario_inicial: 0

Dataset: inventario_final
Total de valores nulos en inventario_final: 0

Dataset: compras
Total de valores nulos en compras: 0

Dataset: ventas
Total de valores nulos en ventas: 0

Exito!!!

### Configuracion de fechas

Nos aseguramos que las columnas de fechas esten con el formato datetime

In [42]:
# Convertir la columna 'startDate' a datetime
inventario_inicial['startDate'] = pd.to_datetime(inventario_inicial['startDate'], errors='coerce')

# Verificar los tipos de datos para asegurarse de que 'startDate' es datetime64
print(inventario_inicial.dtypes)

InventoryId            object
Store                   int64
City                   object
Brand                   int64
Description            object
Size                   object
onHand                  int64
Price                 float64
startDate      datetime64[ns]
dtype: object

In [43]:
# Convertir la columna 'startDate' a datetime
inventario_final['endDate'] = pd.to_datetime(inventario_final['endDate'], errors='coerce')

# Verificar los tipos de datos para asegurarse de que 'startDate' es datetime64
print(inventario_final.dtypes)

InventoryId            object
Store                   int64
City                   object
Brand                   int64
Description            object
Size                   object
onHand                  int64
Price                 float64
endDate        datetime64[ns]
dtype: object

In [44]:
# Convertir las columnas de fecha a datetime
compras['PODate'] = pd.to_datetime(compras['PODate'], errors='coerce')
compras['ReceivingDate'] = pd.to_datetime(compras['ReceivingDate'], errors='coerce')
compras['InvoiceDate'] = pd.to_datetime(compras['InvoiceDate'], errors='coerce')
compras['PayDate'] = pd.to_datetime(compras['PayDate'], errors='coerce')

# Verificar los tipos de datos para asegurarse de que las columnas son datetime64
print(compras.dtypes)

InventoryId               object
Store                      int64
Brand                      int64
Description               object
Size                      object
VendorNumber               int64
VendorName                object
PONumber                   int64
PODate            datetime64[ns]
ReceivingDate     datetime64[ns]
InvoiceDate       datetime64[ns]
PayDate           datetime64[ns]
PurchasePrice            float64
Quantity                   int64
Dollars                  float64
Classification             int64
dtype: object

### Guardamos los dataset limpios

In [48]:
inventario_inicial.to_csv('inventario_inicial_limpio.csv', index=False)
inventario_final.to_csv('inventario_final_limpio.csv', index=False)
compras.to_csv('compras_limpio.csv', index=False)
ventas.to_csv('ventas_limpio.csv', index=False)