In [1]:
# Importamos las librerias necesarias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Abrimos los archivos .csv
precio_compras = pd.read_csv(r"C:\Users\SAMSUNG\Desktop\Datos\2017PurchasePricesDec.csv")
inventario_inicial = pd.read_csv(r'C:\Users\SAMSUNG\Desktop\Datos\BegInvFINAL12312016.csv')
inventario_final = pd.read_csv(r"C:\Users\SAMSUNG\Desktop\Datos\EndInvFINAL12312016.csv")
compras_invoice= pd.read_csv(r"C:\Users\SAMSUNG\Desktop\Datos\InvoicePurchases12312016.csv")
compras = pd.read_csv(r"C:\Users\SAMSUNG\Desktop\Datos\PurchasesFINAL12312016.csv")
ventas = pd.read_csv(r"C:\Users\SAMSUNG\Desktop\Datos\SalesFINAL12312016.csv")

Vemos la informacion que contiene cada dataset
Empezamos revisando compras_precio

In [7]:
precio_compras.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

In [8]:
precio_compras.info

<bound method DataFrame.info of        Brand                   Description  Price    Size Volume  \
0         58   Gekkeikan Black & Gold Sake  12.99   750mL    750
1         62      Herradura Silver Tequila  36.99   750mL    750
2         63    Herradura Reposado Tequila  38.99   750mL    750
3         72          No. 3 London Dry Gin  34.99   750mL    750
4         75     Three Olives Tomato Vodka  14.99   750mL    750
...      ...                           ...    ...     ...    ...
12256  44917     Ferreira 10-Yr Tawny Port  24.99   750mL    750
12257  44944     Sanford Santa Rita Pnt Nr  22.99   750mL    750
12258  45016  Neal One Lane Bridg Cab Svgn  93.99   750mL    750
12259  46011       Folonari Pnt Nr Venezie  12.99  1500ml   1500
12260  46964     Calera Viognier Mt Harlan  35.99   750mL    750

       Classification  PurchasePrice  VendorNumber  \
0                   1           9.28          8320
1                   1          28.67          1128
2                   1          30.46          1128
3                   1          26.11          9165
4                   1          10.94          7245
...               ...            ...           ...
12256               2          16.55         90024
12257               2          14.93          4425
12258               2          61.43         10754
12259               2           8.90          9744
12260               2          24.32         10754

                        VendorName
0      SHAW ROSS INT L IMP LTD
1      BROWN-FORMAN CORP
2      BROWN-FORMAN CORP
3      ULTRA BEVERAGE COMPANY LLP
4      PROXIMO SPIRITS INC.
...                            ...
12256  VINILANDIA USA
12257        MARTIGNETTI COMPANIES
12258  PERFECTA WINES
12259  FREDERICK WILDMAN & SONS
12260  PERFECTA WINES

[12261 rows x 9 columns]>

In [9]:
precio_compras.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

##### compras_precio : Indica el precio de compra de los productos, y el proveedor.
##### Posee [12261 filas x 9 columnas].
##### Sus columnas son: ['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification', 'PurchasePrice', 'VendorNumber', 'VendorName']

## Ahora analizamos inventario_inicial

In [10]:
inventario_inicial.head(5)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2016-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2016-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2016-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2016-01-01

In [11]:
inventario_inicial.info

<bound method DataFrame.info of                InventoryId  Store          City  Brand  \
0        1_HARDERSFIELD_58      1  HARDERSFIELD     58
1        1_HARDERSFIELD_60      1  HARDERSFIELD     60
2        1_HARDERSFIELD_62      1  HARDERSFIELD     62
3        1_HARDERSFIELD_63      1  HARDERSFIELD     63
4        1_HARDERSFIELD_72      1  HARDERSFIELD     72
...                    ...    ...           ...    ...
206524  79_BALLYMENA_46985     79     BALLYMENA  46985
206525  79_BALLYMENA_47014     79     BALLYMENA  47014
206526  79_BALLYMENA_47090     79     BALLYMENA  47090
206527  79_BALLYMENA_90011     79     BALLYMENA  90011
206528  79_BALLYMENA_90089     79     BALLYMENA  90089

                         Description   Size  onHand   Price   startDate
0        Gekkeikan Black & Gold Sake  750mL       8   12.99  2016-01-01
1             Canadian Club 1858 VAP  750mL       7   10.99  2016-01-01
2           Herradura Silver Tequila  750mL       6   36.99  2016-01-01
3         Herradura Reposado Tequila  750mL       3   38.99  2016-01-01
4               No. 3 London Dry Gin  750mL       6   34.99  2016-01-01
...                              ...    ...     ...     ...         ...
206524  Rodney Strong Cab Svgn Alexa  750mL      13   22.99  2016-01-01
206525           Juan Gil Jumilla Rd  750mL      13   13.99  2016-01-01
206526    Napa Cellars Cab Svgn Napa  750mL      19   23.99  2016-01-01
206527  Ch Pichon Longville 12 Pauil  750mL      12  144.99  2016-01-01
206528    Ch Lynch Bages 12 Pauillac  750mL      24  119.99  2016-01-01

[206529 rows x 9 columns]>

In [12]:
inventario_inicial.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'startDate'],
      dtype='object')

Para saber mas sobre esta tabla vamos a analizar la columna startDate

In [13]:
fecha_mas_vieja = inventario_inicial['startDate'].min()
fecha_mas_nueva = inventario_inicial['startDate'].max()
print(fecha_mas_nueva)
print(fecha_mas_vieja)

2016-01-01
2016-01-01

Vamos a asegurarnos que son todas las mismas fechas

In [16]:
unique_dates_count = inventario_inicial['startDate'].nunique()
print(f"Número de fechas únicas: {unique_dates_count}")

Número de fechas únicas: 1

##### Efectivamente esta tabla indica el inventario existente al 2016-01-01
##### Posee 206529 rows x 9 columns
##### Sus columnas son: ['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size','onHand', 'Price', 'startDate']
##### La columna InventoryId podria ser utilizada como key

## Ahora analizaremos inventario_final para asegurarnos que es el inventario a una fecha final

In [17]:
inventario_final.head(5)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2016-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2016-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2016-12-31

In [18]:
inventario_final.info

<bound method DataFrame.info of               InventoryId  Store          City  Brand  \
0       1_HARDERSFIELD_58      1  HARDERSFIELD     58
1       1_HARDERSFIELD_62      1  HARDERSFIELD     62
2       1_HARDERSFIELD_63      1  HARDERSFIELD     63
3       1_HARDERSFIELD_72      1  HARDERSFIELD     72
4       1_HARDERSFIELD_75      1  HARDERSFIELD     75
...                   ...    ...           ...    ...
224484  81_PEMBROKE_90087     81      PEMBROKE  90087
224485  81_PEMBROKE_90088     81      PEMBROKE  90088
224486  81_PEMBROKE_90089     81      PEMBROKE  90089
224487  81_PEMBROKE_90090     81      PEMBROKE  90090
224488  81_PEMBROKE_90604     81      PEMBROKE  90604

                         Description   Size  onHand   Price     endDate
0        Gekkeikan Black & Gold Sake  750mL      11   12.99  2016-12-31
1           Herradura Silver Tequila  750mL       7   36.99  2016-12-31
2         Herradura Reposado Tequila  750mL       7   38.99  2016-12-31
3               No. 3 London Dry Gin  750mL       4   34.99  2016-12-31
4          Three Olives Tomato Vodka  750mL       7   14.99  2016-12-31
...                              ...    ...     ...     ...         ...
224484  Ch Mouton Rothschild 12 Paui  750mL       3  469.99  2016-12-31
224485  Ch Le Petite Mouton 12 Pauil  750mL       3  134.99  2016-12-31
224486    Ch Lynch Bages 12 Pauillac  750mL       3  119.99  2016-12-31
224487       Ch Lafite Rothschild 12  750mL       3  649.99  2016-12-31
224488        Ch Lynch Bages Pauilac  750mL       2  119.99  2016-12-31

[224489 rows x 9 columns]>

In [19]:
inventario_final.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'endDate'],
      dtype='object')

In [20]:
unique_dates_count = inventario_final['endDate'].nunique()

print(f"Número de fechas únicas: {unique_dates_count}")

Número de fechas únicas: 1

##### Efectivamente esta tabla indica el inventario existente al 2016-01-01
##### Posee 224489 rows x 9 columns
##### Sus columnas son: 'InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size', 'onHand', 'Price', 'endDate'
##### La columna InventoryId podria ser utilizada como key
##### Las filas no cohinciden con el numero de inventario_inicial

In [21]:
##### Efectivamente esta tabla indica el inventario existente al 2016-01-01
##### Posee 224489 rows x 9 columns
##### Sus columnas son: 'InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size', 'onHand', 'Price', 'endDate'
##### La columna InventoryId podria ser utilizada como key
##### Las filas no cohinciden con el numero de inventario_inicial

### Ahora analizaremos compras_invoice

In [23]:
compras_invoice.head()

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2016-01-04,8124,2015-12-21,2016-02-16,6,214.26,3.47,NaN
1,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,NaN
2,388,ATLANTIC IMPORTING COMPANY,2016-01-09,8169,2015-12-24,2016-02-16,5,106.60,4.61,NaN
3,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,NaN
4,516,BANFI PRODUCTS CORP,2016-01-07,8170,2015-12-24,2016-02-12,1935,15527.25,429.20,NaN

In [24]:
compras_invoice.info

<bound method DataFrame.info of       VendorNumber                   VendorName InvoiceDate  PONumber  \
0              105  ALTAMAR BRANDS LLC           2016-01-04      8124
1             4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2              388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3              480  BACARDI USA INC              2016-01-12      8106
4              516  BANFI PRODUCTS CORP          2016-01-07      8170
...            ...                          ...         ...       ...
5538          9622  WEIN BAUER INC               2017-01-06     13626
5539          9625  WESTERN SPIRITS BEVERAGE CO  2017-01-10     13661
5540          3664  WILLIAM GRANT & SONS INC     2017-01-02     13643
5541          9815  WINE GROUP INC               2017-01-03     13602
5542         90058  ZORVINO VINEYARDS            2017-01-05     13574

          PODate     PayDate  Quantity    Dollars  Freight Approval
0     2015-12-21  2016-02-16         6     214.26     3.47      NaN
1     2015-12-22  2016-02-21        15     140.55     8.57      NaN
2     2015-12-24  2016-02-16         5     106.60     4.61      NaN
3     2015-12-20  2016-02-05     10100  137483.78  2935.20      NaN
4     2015-12-24  2016-02-12      1935   15527.25   429.20      NaN
...          ...         ...       ...        ...      ...      ...
5538  2016-12-21  2017-02-10        90    1563.00     8.60      NaN
5539  2016-12-23  2017-02-18      4617   37300.48   186.50      NaN
5540  2016-12-22  2017-02-04      9848  202815.78   932.95      NaN
5541  2016-12-20  2017-02-08     24747  149007.56   819.54      NaN
5542  2016-12-18  2017-02-12       437    3608.11    16.60      NaN

[5543 rows x 10 columns]>

In [25]:
compras_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

Indica los pedidos realizados 

Posee 5543 rows x 10 columns

Sus columnas son : 'VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'

### Ahora veamos compras

In [26]:
compras.head(5)

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2015-12-21,2016-01-02,2016-01-04,2016-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1

In [27]:
compras.info

<bound method DataFrame.info of                   InventoryId  Store  Brand                   Description  \
0           69_MOUNTMEND_8412     69   8412     Tequila Ocho Plata Fresno
1            30_CULCHETH_5255     30   5255  TGI Fridays Ultimte Mudslide
2           34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced
3         1_HARDERSFIELD_5255      1   5255  TGI Fridays Ultimte Mudslide
4           76_DONCASTER_2034     76   2034     Glendalough Double Barrel
...                       ...    ...    ...                           ...
2372469     49_GARIGILL_22298     49  22298       Zorvino Vyds Sangiovese
2372470  1_HARDERSFIELD_19556      1  19556    Zorvino Bacca Z Blackberry
2372471   66_EANVERNESS_22297     66  22297            Zorvino Vyds Pearz
2372472    69_MOUNTMEND_19557     69  19557  Zorvino Fragole Z Strawberry
2372473    55_DRY GULCH_22298     55  22298       Zorvino Vyds Sangiovese

          Size  VendorNumber                   VendorName  PONumber  \
0        750mL           105  ALTAMAR BRANDS LLC               8124
1        1.75L          4466  AMERICAN VINTAGE BEVERAGE        8137
2        1.75L          4466  AMERICAN VINTAGE BEVERAGE        8137
3        1.75L          4466  AMERICAN VINTAGE BEVERAGE        8137
4        750mL           388  ATLANTIC IMPORTING COMPANY       8169
...        ...           ...                          ...       ...
2372469  750mL         90058  ZORVINO VINEYARDS               13593
2372470  750mL         90058  ZORVINO VINEYARDS               13593
2372471  750mL         90058  ZORVINO VINEYARDS               13593
2372472  750mL         90058  ZORVINO VINEYARDS               13593
2372473  750mL         90058  ZORVINO VINEYARDS               13593

             PODate ReceivingDate InvoiceDate     PayDate  PurchasePrice  \
0        2015-12-21    2016-01-02  2016-01-04  2016-02-16          35.71
1        2015-12-22    2016-01-01  2016-01-07  2016-02-21           9.35
2        2015-12-22    2016-01-02  2016-01-07  2016-02-21           9.41
3        2015-12-22    2016-01-01  2016-01-07  2016-02-21           9.35
4        2015-12-24    2016-01-02  2016-01-09  2016-02-16          21.32
...             ...           ...         ...         ...            ...
2372469  2016-12-19    2016-12-28  2017-01-09  2017-02-06           8.06
2372470  2016-12-19    2016-12-27  2017-01-09  2017-02-06           9.39
2372471  2016-12-19    2016-12-26  2017-01-09  2017-02-06           6.75
2372472  2016-12-19    2016-12-26  2017-01-09  2017-02-06           9.39
2372473  2016-12-19    2016-12-28  2017-01-09  2017-02-06           8.06

         Quantity  Dollars  Classification
0               6   214.26               1
1               4    37.40               1
2               5    47.05               1
3               6    56.10               1
4               5   106.60               1
...           ...      ...             ...
2372469        12    96.72               2
2372470        12   112.68               2
2372471        12    81.00               2
2372472        12   112.68               2
2372473        12    96.72               2

[2372474 rows x 16 columns]>

In [28]:
compras.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

compras = pd.read_csv('PurchasesFINAL12312016.csv'):
Indica las compras hechas por la empresa

Posee 2372474 rows x 16 columns

Sus columnas son : 'InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'

Vemos que existen columnas similares con otras tablas como 'InventoryId', 'PONumber', 'PODate', 'PayDate'. 
Ver si estas cohinciden con las otras tablas

### Ahora veamos Ventas

In [29]:
ventas.head()

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/1/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,1/2/2016,750,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/3/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,1/8/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,1/9/2016,375,1,0.79,12546,JIM BEAM BRANDS COMPANY

In [30]:
ventas.info

<bound method DataFrame.info of                  InventoryId  Store  Brand                 Description  \
0        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
1        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
2        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
3        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
4        1_HARDERSFIELD_1005      1   1005     Maker's Mark Combo Pack
...                      ...    ...    ...                         ...
1048570  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048571  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048572  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048573  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048574  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr

               Size  SalesQuantity  SalesDollars  SalesPrice  SalesDate  \
0             750mL              1         16.49       16.49   1/1/2016
1             750mL              2         32.98       16.49   1/2/2016
2             750mL              1         16.49       16.49   1/3/2016
3             750mL              1         14.49       14.49   1/8/2016
4        375mL 2 Pk              2         69.98       34.99   1/9/2016
...             ...            ...           ...         ...        ...
1048570       750mL              4         51.80       12.95  2/12/2016
1048571       750mL              8        103.60       12.95  2/13/2016
1048572       750mL              1         12.95       12.95  2/19/2016
1048573       750mL              3         38.85       12.95  2/22/2016
1048574       750mL              2         25.90       12.95  2/24/2016

         Volume  Classification  ExciseTax  VendorNo  \
0           750               1       0.79     12546
1           750               1       1.57     12546
2           750               1       0.79     12546
3           750               1       0.79     12546
4           375               1       0.79     12546
...         ...             ...        ...       ...
1048570     750               2       0.45      2000
1048571     750               2       0.90      2000
1048572     750               2       0.11      2000
1048573     750               2       0.34      2000
1048574     750               2       0.22      2000

                          VendorName
0        JIM BEAM BRANDS COMPANY
1        JIM BEAM BRANDS COMPANY
2        JIM BEAM BRANDS COMPANY
3        JIM BEAM BRANDS COMPANY
4        JIM BEAM BRANDS COMPANY
...                              ...
1048570  SOUTHERN WINE & SPIRITS NE
1048571  SOUTHERN WINE & SPIRITS NE
1048572  SOUTHERN WINE & SPIRITS NE
1048573  SOUTHERN WINE & SPIRITS NE
1048574  SOUTHERN WINE & SPIRITS NE

[1048575 rows x 14 columns]>

In [31]:
ventas.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

ventas: Indica las ventas realizadas

Posee 1048575 rows x 14 columns

Sus columnas son: 'InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'

# Buscamos valores nulos
# Función para verificar valores nulos y vacíos

In [32]:
def check_missing_values(df, name):
    print(f"\nDataset: {name}")
    print("Valores nulos en cada columna:")
    print(df.isnull().sum())
    
    print("\nValores vacíos en cada columna:")
    print(df.apply(lambda x: x.str.strip().eq('').sum() if x.dtype == "object" else 0))

# Verificar los valores nulos y vacíos en cada dataset
check_missing_values(precio_compras, 'precio_compras')
check_missing_values(inventario_inicial, 'inventario_inicial')
check_missing_values(inventario_final, 'inventario_final')
check_missing_values(compras_invoice, 'compras_invoice')
check_missing_values(compras, 'compras')
check_missing_values(ventas, 'ventas')

Dataset: precio_compras
Valores nulos en cada columna:
Brand             0
Description       1
Price             0
Size              1
Volume            1
Classification    0
PurchasePrice     0
VendorNumber      0
VendorName        0
dtype: int64

Valores vacíos en cada columna:
Brand             0
Description       0
Price             0
Size              0
Volume            0
Classification    0
PurchasePrice     0
VendorNumber      0
VendorName        0
dtype: int64

Dataset: inventario_inicial
Valores nulos en cada columna:
InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
onHand         0
Price          0
startDate      0
dtype: int64

Valores vacíos en cada columna:
InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
onHand         0
Price          0
startDate      0
dtype: int64

Dataset: inventario_final
Valores nulos en cada columna:
InventoryId       0
Store             0
City           1284
Brand             0
Description       0
Size              0
onHand            0
Price             0
endDate           0
dtype: int64

Valores vacíos en cada columna:
InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
onHand         0
Price          0
endDate        0
dtype: int64

Dataset: compras_invoice
Valores nulos en cada columna:
VendorNumber       0
VendorName         0
InvoiceDate        0
PONumber           0
PODate             0
PayDate            0
Quantity           0
Dollars            0
Freight            0
Approval        5169
dtype: int64

Valores vacíos en cada columna:
VendorNumber    0
VendorName      0
InvoiceDate     0
PONumber        0
PODate          0
PayDate         0
Quantity        0
Dollars         0
Freight         0
Approval        0
dtype: int64

Dataset: compras
Valores nulos en cada columna:
InventoryId       0
Store             0
Brand             0
Description       0
Size              3
VendorNumber      0
VendorName        0
PONumber          0
PODate            0
ReceivingDate     0
InvoiceDate       0
PayDate           0
PurchasePrice     0
Quantity          0
Dollars           0
Classification    0
dtype: int64

Valores vacíos en cada columna:
InventoryId       0
Store             0
Brand             0
Description       0
Size              0
VendorNumber      0
VendorName        0
PONumber          0
PODate            0
ReceivingDate     0
InvoiceDate       0
PayDate           0
PurchasePrice     0
Quantity          0
Dollars           0
Classification    0
dtype: int64

Dataset: ventas
Valores nulos en cada columna:
InventoryId       0
Store             0
Brand             0
Description       0
Size              0
SalesQuantity     0
SalesDollars      0
SalesPrice        0
SalesDate         0
Volume            0
Classification    0
ExciseTax         0
VendorNo          0
VendorName        0
dtype: int64

Valores vacíos en cada columna:
InventoryId       0
Store             0
Brand             0
Description       0
Size              0
SalesQuantity     0
SalesDollars      0
SalesPrice        0
SalesDate         0
Volume            0
Classification    0
ExciseTax         0
VendorNo          0
VendorName        0
dtype: int64

In [34]:
# Lista de tus datasets y sus nombres
datasets = [(precio_compras, 'precio_compras'),
            (inventario_inicial, 'inventario_inicial'),
            (inventario_final, 'inventario_final'),
            (compras_invoice, 'compras_invoice'),
            (compras, 'compras'),
            (ventas, 'ventas')]

# Ciclo para iterar sobre cada dataset y buscar filas con valores nulos
for df, name in datasets:
    print(f"\nDataset: {name}")
    filas_nulas = df[df.isnull().any(axis=1)]
    if not filas_nulas.empty:
        print(f"Filas con valores nulos en {name}:")
        print(filas_nulas)
    else:
        print(f"No se encontraron filas con valores nulos en {name}.")

Dataset: precio_compras
Filas con valores nulos en precio_compras:
      Brand Description  Price Size Volume  Classification  PurchasePrice  \
7915   4202         NaN    0.0  NaN    NaN               1          11.19

      VendorNumber                   VendorName
7915           480  BACARDI USA INC

Dataset: inventario_inicial
No se encontraron filas con valores nulos en inventario_inicial.

Dataset: inventario_final
Filas con valores nulos en inventario_final:
       InventoryId  Store City  Brand                   Description   Size  \
113895      46__58     46  NaN     58   Gekkeikan Black & Gold Sake  750mL
113896      46__62     46  NaN     62      Herradura Silver Tequila  750mL
113897      46__63     46  NaN     63    Herradura Reposado Tequila  750mL
113898      46__77     46  NaN     77   Three Olives Espresso Vodka  750mL
113899     46__106     46  NaN    106      Mr Boston Peach Schnapps  Liter
...            ...    ...  ...    ...                           ...    ...
115174   46__46447     46  NaN  46447         Gascon Malbec Mendoza  750mL
115175   46__46458     46  NaN  46458      Layer Cake Barosa Shiraz  750mL
115176   46__46476     46  NaN  46476          Tilia Malbec Mendoza  750mL
115177   46__46764     46  NaN  46764  Clayhouse Adobe Red Paso Rbl  750mL
115178   46__46830     46  NaN  46830         Pacific Rim Sweet Rsl  750mL

        onHand  Price     endDate
113895       0  12.99  2016-12-31
113896       0  36.99  2016-12-31
113897       0  38.99  2016-12-31
113898       0  14.99  2016-12-31
113899       0   4.49  2016-12-31
...        ...    ...         ...
115174       0  10.99  2016-12-31
115175       0  15.99  2016-12-31
115176       0   9.99  2016-12-31
115177       0  11.99  2016-12-31
115178       0   8.99  2016-12-31

[1284 rows x 9 columns]

Dataset: compras_invoice
Filas con valores nulos en compras_invoice:
      VendorNumber                   VendorName InvoiceDate  PONumber  \
0              105  ALTAMAR BRANDS LLC           2016-01-04      8124
1             4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2              388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3              480  BACARDI USA INC              2016-01-12      8106
4              516  BANFI PRODUCTS CORP          2016-01-07      8170
...            ...                          ...         ...       ...
5538          9622  WEIN BAUER INC               2017-01-06     13626
5539          9625  WESTERN SPIRITS BEVERAGE CO  2017-01-10     13661
5540          3664  WILLIAM GRANT & SONS INC     2017-01-02     13643
5541          9815  WINE GROUP INC               2017-01-03     13602
5542         90058  ZORVINO VINEYARDS            2017-01-05     13574

          PODate     PayDate  Quantity    Dollars  Freight Approval
0     2015-12-21  2016-02-16         6     214.26     3.47      NaN
1     2015-12-22  2016-02-21        15     140.55     8.57      NaN
2     2015-12-24  2016-02-16         5     106.60     4.61      NaN
3     2015-12-20  2016-02-05     10100  137483.78  2935.20      NaN
4     2015-12-24  2016-02-12      1935   15527.25   429.20      NaN
...          ...         ...       ...        ...      ...      ...
5538  2016-12-21  2017-02-10        90    1563.00     8.60      NaN
5539  2016-12-23  2017-02-18      4617   37300.48   186.50      NaN
5540  2016-12-22  2017-02-04      9848  202815.78   932.95      NaN
5541  2016-12-20  2017-02-08     24747  149007.56   819.54      NaN
5542  2016-12-18  2017-02-12       437    3608.11    16.60      NaN

[5169 rows x 10 columns]

Dataset: compras
Filas con valores nulos en compras:
                 InventoryId  Store  Brand                 Description Size  \
1109668    34_PITMERDEN_3121     34   3121    Pinnacle Rainbow Sherbet  NaN
1112426    34_PITMERDEN_5678     34   5678      Skinnygirl Pina Colada  NaN
1116302  39_EASTHALLOW_15365     39  15365  Alabaster 07 Tinta de Toro  NaN

         VendorNumber                   VendorName  PONumber      PODate  \
1109668         12546  JIM BEAM BRANDS COMPANY         10938  2016-06-27
1112426         12546  JIM BEAM BRANDS COMPANY         10938  2016-06-27
1116302          9552  M S WALKER INC                  10972  2016-06-29

        ReceivingDate InvoiceDate     PayDate  PurchasePrice  Quantity  \
1109668    2016-07-04  2016-07-13  2016-08-16           6.93         7
1112426    2016-07-09  2016-07-13  2016-08-16           6.93         6
1116302    2016-07-07  2016-07-13  2016-08-21          91.83         1

         Dollars  Classification
1109668    48.51               1
1112426    41.58               1
1116302    91.83               2

Dataset: ventas
No se encontraron filas con valores nulos en ventas.

In [35]:
for df, name in datasets:
    print(f"\nDataset: {name}")
    total_nulos = df.isnull().sum().sum()  # Suma total de valores nulos en el dataset
    print(f"Total de valores nulos en {name}: {total_nulos}")

Dataset: precio_compras
Total de valores nulos en precio_compras: 3

Dataset: inventario_inicial
Total de valores nulos en inventario_inicial: 0

Dataset: inventario_final
Total de valores nulos en inventario_final: 1284

Dataset: compras_invoice
Total de valores nulos en compras_invoice: 5169

Dataset: compras
Total de valores nulos en compras: 3

Dataset: ventas
Total de valores nulos en ventas: 0

Hagamos un analisis mas profundo de los valores nulos para saber que tratamiento darles

### Limpieza de valores nulos en precio_compra

In [ ]:
# Filtrar las filas donde la columna 'Brand' tiene el valor 4202
brand_4202 = precio_compras[precio_compras['Brand'] == 4202]

# Mostrar las filas correspondientes para ver 'Description', 'Size' y 'Volume'
print(brand_4202[['Brand', 'Description', 'Size', 'Volume']])

Puedo ver que existe una columna 'Brand' en 'ventas'. Voy a ver si tiene algun valor para rellenar 'Brand' en precios_compras

In [ ]:
# Filtrar las filas donde la columna 'Brand' tiene el valor 4202 en el dataset 'ventas'
brand_4202_ventas = ventas[ventas['Brand'] == 4202]

# Mostrar las filas correspondientes para ver los valores asociados
print(brand_4202_ventas[['Brand', 'Description', 'Size', 'Volume']])

In [ ]:
# Filtrar las filas donde la columna 'Brand' tiene el valor 4202 en el dataset 'compras'
brand_4202_compras = compras[compras['Brand'] == 4202]

# Mostrar las filas correspondientes para ver los valores asociados
print(brand_4202_compras[['Brand', 'Description', 'Size']])

El codigo 4202 no existe asique vamos a eliminarlo del dataset

In [ ]:
# Eliminar filas donde 'Brand' es 4202 en el dataset 'precio_compras'
precio_compras = precio_compras[precio_compras['Brand'] != 4202]

# Verificar que las filas fueron eliminadas
print(precio_compras[precio_compras['Brand'] == 4202])  # Esto debería devolver un DataFrame vacío

### Ahora veamos los valores nulos de inventario_final

In [ ]:
# Obtener los valores únicos en la columna 'City'
valores_unicos_city = inventario_final['City'].unique()

# Mostrar los valores únicos
print("Valores únicos en la columna 'City':")
print(valores_unicos_city)

# Contar cuántos valores únicos hay
print(f"\nNúmero total de valores únicos en 'City': {len(valores_unicos_city)}")

DEcidimos rellerar los valores nulos en City con 'Desconocido' par no eliminar ni rellenar con informacion erronea

In [ ]:
inventario_final['City'].fillna('Desconocido', inplace=True)

### Ahora veamos los nulos en compras_invoice

In [11]:
#Obtener los valores únicos en la columna 'Approval'
valores_unicos_approval = compras_invoice['Approval'].unique()

# Mostrar los valores únicos
print("Valores únicos en la columna 'Approval':")
print(valores_unicos_approval)

# Contar cuántos valores únicos hay
print(f"\nNúmero total de valores únicos en 'Approval': {len(valores_unicos_approval)}")

Valores únicos en la columna 'Approval':
[nan 'Frank Delahunt']

Número total de valores únicos en 'Approval': 2

Como todas las aprobaciones fueron echas por 'Frank Delahunt', suponemos que es el unico habilitado para aprobar, entonces rellenaremos los datos con este nombre

In [ ]:
# Rellenar los valores NaN en la columna 'Approval' con 'Frank Delahunt'
compras_invoice['Approval'].fillna('Frank Delahunt', inplace=True)

# Verificar que los valores NaN han sido reemplazados
print(compras_invoice['Approval'].isnull().sum())

### Ahora veamos el dataset 'compras'

In [14]:
# Rellenar los valores NaN en la columna 'Size' con 'Desconocido'
compras['Size'].fillna('Desconocido', inplace=True)

# Verificar que los valores NaN han sido reemplazados
print(compras['Size'].isnull().sum())

0

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_10600\63751555.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  compras['Size'].fillna('Desconocido', inplace=True)

### Verifiquemos si queda algun Nulo

In [16]:
# Lista de tus datasets y sus nombres
datasets = [(precio_compras, 'precio_compras'),
            (inventario_inicial, 'inventario_inicial'),
            (inventario_final, 'inventario_final'),
            (compras_invoice, 'compras_invoice'),
            (compras, 'compras'),
            (ventas, 'ventas')]

for df, name in datasets:
    print(f"\nDataset: {name}")
    total_nulos = df.isnull().sum().sum()  # Suma total de valores nulos en el dataset
    print(f"Total de valores nulos en {name}: {total_nulos}")

Dataset: precio_compras
Total de valores nulos en precio_compras: 0

Dataset: inventario_inicial
Total de valores nulos en inventario_inicial: 0

Dataset: inventario_final
Total de valores nulos en inventario_final: 0

Dataset: compras_invoice
Total de valores nulos en compras_invoice: 0

Dataset: compras
Total de valores nulos en compras: 0

Dataset: ventas
Total de valores nulos en ventas: 0

EXITO!!!!