In [7]:
pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.1.0-cp310-cp310-win_amd64.whl (68 kB)
     -------------------------------------- 68.7/68.7 KB 943.5 kB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-5.1.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 24.2 is available.
You should consider upgrading via the 'c:\Users\Usuario1\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
import pyodbc

In [ ]:
# Configura los detalles de la conexión usando la información proporcionada
server = '104.198.176.117' #servidor
database = 'DrinkingTeamDB'  # Nombre de la base de datos
username = 'datafusionlatam'  # Usuario
password = 'DAFTHENRY'  # Contraseña
port = '1433' #puerto

# Cadena de conexión
cnxn_str = f"DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};PORT={port};ENCRYPT=no;"

# Conectarse a la base de datos
cnxn = pyodbc.connect(cnxn_str)

# Crear un cursor para ejecutar consultas
cursor = cnxn.cursor()

# Ejecutar una consulta
# cursor.execute("SELECT * FROM Productos")

# Recuperar los resultados
# rows = cursor.fetchall()

# Imprimir los resultados
# for row in rows:
#    print(row)

# Cerrar la conexión
cnxn.close()

probando cargar datos con mi base local

In [10]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\usuario1\appdata\local\programs\python\python310\lib\site-packages (2.0.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\usuario1\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\usuario1\appdata\roaming\python\python310\site-packages (from sqlalchemy) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 24.2 is available.
You should consider upgrading via the 'c:\Users\Usuario1\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [3]:
import pandas as pd
import pyodbc
import sqlalchemy

conectando a la base local para una vez que esten todas bien, poder subir los datos a la nube (cambiando la conexion de arriba hacia la base que esta en google cloud)

In [75]:
from sqlalchemy import create_engine

# Configura la conexión a la base de datos local
db_user = 'IgnaPrueba'
db_pass = 'DAFTHENRY'
db_name = 'DrinkingTeamDB'
db_host = 'DESKTOP-NP4VJ1H\SQLEXPRESS'  # Para entornos locales, a menudo es 'localhost' o '127.0.0.1'
db_port = '1433'  # Puerto predeterminado de SQL Server, puede variar si has configurado otro

# Crear la cadena de conexión
engine = create_engine(f'mssql+pyodbc://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}?driver=ODBC+Driver+17+for+SQL+Server')

Aqui estoy leyendo todo el codigo de Compras. Hay que hacer lo mismo con los otros 3 dataset, pero hay que ver si los leemos completos o si solamente leemos las columnas que nos interesan. En lo personal, iria solamente por las columnas que nos interesan cargar los datos en la base de datos.

In [52]:
#df = pd.read_csv('https://drive.usercontent.google.com/download?id=1Id7ERr7pXVJCfempvpEzseJ8WPF_Hs5j&export=download&authuser=0&confirm=t&uuid=3f33a3fd-2696-4250-b026-b62f6c445e4a&at=APZUnTUbyMP2tLICvQCO15n8Z4fY%3A1723646561085')
# columna_a_cargar = ['Store']
df = pd.read_csv('https://drive.usercontent.google.com/download?id=1r0DuLK9JZTbx4ouuuYEGLUS4lZvsa8lG&export=download&authuser=1&confirm=t&uuid=7c1bdf54-2f1b-48d3-87fe-d157d9d9b221&at=APZUnTU_jAENsVpPMq_R9-SF1OpY:1724011140819')

Este codigo de abajo, no se termino usando, pero lo dejamos por el momento por las dudas que lo vayamos a usar.

In [62]:
columna_a_cargar = ['Brand', 'Description']
paraCompletarTablaMarca = pd.read_csv('https://drive.usercontent.google.com/download?id=1r0DuLK9JZTbx4ouuuYEGLUS4lZvsa8lG&export=download&authuser=1&confirm=t&uuid=7c1bdf54-2f1b-48d3-87fe-d157d9d9b221&at=APZUnTU_jAENsVpPMq_R9-SF1OpY:1724011140819', usecols=columna_a_cargar)

Este "columna a cargar 2" es el que terminamos usando para la tabla de Marcas 2 después de hacer varios intentos, se pudo cargar los datos desde cvs limpio hacia la base de datos, a traves de python.

In [66]:
columna_a_cargar2 = ['Description']
paraCompletarTablaMarca2 = pd.read_csv('https://drive.usercontent.google.com/download?id=1r0DuLK9JZTbx4ouuuYEGLUS4lZvsa8lG&export=download&authuser=1&confirm=t&uuid=7c1bdf54-2f1b-48d3-87fe-d157d9d9b221&at=APZUnTU_jAENsVpPMq_R9-SF1OpY:1724011140819', usecols=columna_a_cargar2)

In [68]:
# Antes de hacer correr este codigo, cambiar en la tabla de sql el nombre de BRAND por el de Description. Y tmb, ponele INDENTITY al id
paraCompletarTablaMarca2.to_sql('Marcas2', engine, if_exists='append', index=False)

474

se deja el siguiente codigo en comentario, es para no tener que cambiar los nombres en la base de datos, solamente hacer un merge entre sql y los cvs

In [ ]:
# df.rename(columns={'columna1': 'nombre_db1', 'columna2': 'nombre_db2'}, inplace=True)

## Vamos a realizar la lectura para luego realizar la carga en la base de datos.

In [5]:
proveedor = ['VendorName', 'VendorNumber']
tablaProveedores = pd.read_csv('https://drive.usercontent.google.com/download?id=1r0DuLK9JZTbx4ouuuYEGLUS4lZvsa8lG&export=download&authuser=1&confirm=t&uuid=7c1bdf54-2f1b-48d3-87fe-d157d9d9b221&at=APZUnTU_jAENsVpPMq_R9-SF1OpY:1724011140819', usecols=proveedor)

### TRABAJO SOBRE LA TABLA DE PRODUCTOS

In [113]:
productos = ['Brand', 'Description', 'Volume']
tablaProductos = pd.read_csv('https://drive.usercontent.google.com/download?id=1eQRPyLADEvVZW03fYWv9igZGxRNrTV2N&export=download&authuser=1&confirm=t&uuid=9727b1f3-4032-4414-b1ad-94b6542c1631&at=APZUnTU4Li_ldcTI0kVOaw_doqwB:1724010882647', usecols=productos)

In [117]:
tablaProductos.rename(columns={'Brand': 'Marca', 'Description': 'Nombre', 'Volume': 'Volumen'}, inplace=True)

In [118]:
tablaProductos.columns

Index(['Marca', 'Nombre', 'Volumen'], dtype='object')

In [119]:
productos_df = tablaProductos[['Marca','Nombre', 'Volumen']].drop_duplicates().reset_index(drop=True)

In [120]:
productos_df.columns

Index(['Marca', 'Nombre', 'Volumen'], dtype='object')

In [121]:
tablaProductos.shape

(1048575, 3)

In [122]:
productos_df.shape

(7658, 3)

In [123]:
import uuid

In [124]:
productos_df['ProductoID'] = range(1, len(productos_df)+1)
print(productos_df)

      Marca                       Nombre  Volumen  ProductoID
0      1004   Jim Beam w/2 Rocks Glasses      750           1
1      1005      Maker's Mark Combo Pack      375           2
2     10058  F Coppola Dmd Ivry Cab Svgn      750           3
3      1006  Jim Beam Candy Cane 4/50mLs       50           4
4     10062            Terroirs du Rhone      750           5
...     ...                          ...      ...         ...
7653  45710   Ferrari-Carano Terre Chard      750        7654
7654    603           McCormick Gold Rum     1000        7655
7655  18732               Anarkos Puglia      750        7656
7656    835         Bols Creme De Noyaux     1000        7657
7657  18948         Austin Hope 10 Syrah      750        7658

[7658 rows x 4 columns]

In [125]:
productos_df = productos_df.reindex(columns=[ 'ProductoID', 'Marca', 'Nombre', 'Volumen'])

In [128]:
productos_df.head(5)

   ProductoID  Marca                       Nombre  Volumen
0           1   1004   Jim Beam w/2 Rocks Glasses      750
1           2   1005      Maker's Mark Combo Pack      375
2           3  10058  F Coppola Dmd Ivry Cab Svgn      750
3           4   1006  Jim Beam Candy Cane 4/50mLs       50
4           5  10062            Terroirs du Rhone      750

In [129]:
productos_df.isnull().sum()

ProductoID    0
Marca         0
Nombre        0
Volumen       0
dtype: int64

In [130]:
productos_df.to_sql('Productos', engine, if_exists='append', index=False)

322

### TRABAJANDO SOBRE LA TABLA DE TIENDAS

In [131]:
tiendas = ['Store', 'City']
tablaTiendas = pd.read_csv('https://drive.usercontent.google.com/download?id=1-n6LPzVEQ5tXXB54O1dLFoFUCwqq4nOW&export=download&authuser=1&confirm=t&uuid=367119ce-9a51-4201-90e1-a02243ea8709&at=APZUnTWL2Pg-H8QeoRX1zXzmmQwU:1724010977504', usecols=tiendas)

In [132]:
tablaTiendas.columns

Index(['Store', 'City'], dtype='object')

In [133]:
tablaTiendas.rename(columns={'Store': 'NumeroTienda', 'City': 'Ciudad'}, inplace=True)

In [134]:
tiendas_df = tablaTiendas[['NumeroTienda','Ciudad']].drop_duplicates().reset_index(drop=True)

In [136]:
tablaTiendas.shape

(206529, 2)

In [137]:
tiendas_df.shape

(79, 2)

In [138]:
tiendas_df['TiendaID'] = range(1, len(tiendas_df)+1)
print(tiendas_df)

    NumeroTienda        Ciudad  TiendaID
0              1  HARDERSFIELD         1
1              2      ASHBORNE         2
2              3       HORNSEY         3
3              4    EANVERNESS         4
4              5        SUTTON         5
..           ...           ...       ...
74            75     BARNCOMBE        75
75            76     DONCASTER        76
76            77      TAMWORTH        77
77            78     EASTHAVEN        78
78            79     BALLYMENA        79

[79 rows x 3 columns]

In [139]:
tiendas_df = tiendas_df.reindex(columns=[ 'TiendaID', 'NumeroTienda', 'Ciudad'])

In [140]:
tiendas_df.columns

Index(['TiendaID', 'NumeroTienda', 'Ciudad'], dtype='object')

In [141]:
tiendas_df.to_sql('Tiendas', engine, if_exists='append', index=False)

79

### TRABAJANDO SOBRE LA TABLA DE INVENTARIO

In [178]:
# Cargar las tablas relacionadas desde la base de datos
df_fk1 = pd.read_sql('SELECT ProductoID, Nombre FROM Productos', engine)
df_fk2 = pd.read_sql('SELECT TiendaID, NumeroTienda FROM Tiendas', engine)

In [144]:
inventarioInicial = ['Store', 'City', 'Brand', 'Description', 'Price', 'startDate','onHand']
tablaInventariosInicial = pd.read_csv('https://drive.usercontent.google.com/download?id=1-n6LPzVEQ5tXXB54O1dLFoFUCwqq4nOW&export=download&authuser=1&confirm=t&uuid=367119ce-9a51-4201-90e1-a02243ea8709&at=APZUnTWL2Pg-H8QeoRX1zXzmmQwU:1724010977504', usecols=inventarioInicial)

In [145]:
tablaInventariosInicial.columns

Index(['Store', 'City', 'Brand', 'Description', 'onHand', 'Price',
       'startDate'],
      dtype='object')

In [169]:
inventarioFinal = ['Store', 'City', 'Brand', 'Description', 'endDate','onHand']
tablaInventariosFinal = pd.read_csv('https://drive.usercontent.google.com/download?id=1rdgh46E0dkb0emyE3v8JWh3uGSqRUE0L&export=download&authuser=1&confirm=t&uuid=ef5cabed-1a9f-4f48-9afc-7e9a50b18b82&at=APZUnTXez340bLeUZnJCE9g0KVru:1724011178592', usecols=inventarioFinal)

In [146]:
tablaInventariosInicial.rename(columns={'Store': 'NumeroTienda', 'City': 'Ciudad', 'Brand': 'Marca', 'Description': 'Nombre', 'onHand' : 'StockInicial', 'Price': 'Precio', 'startDate':'FechaInicial' }, inplace=True)

In [149]:
tablaInventariosInicial.columns

Index(['NumeroTienda', 'Ciudad', 'Marca', 'Nombre', 'StockInicial', 'Precio',
       'FechaInicial'],
      dtype='object')

In [151]:
margeProductos = tablaInventariosInicial.merge(productos_df, on=['Marca', 'Nombre'], how='left')

In [153]:
margeTiendas = margeProductos.merge(tiendas_df, on=['NumeroTienda', 'Ciudad'], how='left')

In [165]:
inventarioInicial_df = margeTiendas[['ProductoID', 'TiendaID', 'Precio', 'StockInicial', 'FechaInicial']].drop_duplicates().reset_index(drop=True)
print(inventarioInicial_df)

        ProductoID  TiendaID  Precio  StockInicial FechaInicial
0           2313.0         1   12.99             8   2016-01-01
1           2337.0         1   10.99             7   2016-01-01
2           2354.0         1   36.99             6   2016-01-01
3           2379.0         1   38.99             3   2016-01-01
4           4303.0         1   34.99             6   2016-01-01
...            ...       ...     ...           ...          ...
206251      3720.0        79   22.99            13   2016-01-01
206252      2076.0        79   13.99            13   2016-01-01
206253      2080.0        79   23.99            19   2016-01-01
206254      6578.0        79  144.99            12   2016-01-01
206255      6316.0        79  119.99            24   2016-01-01

[206256 rows x 5 columns]

In [164]:

inventarioInicial_df['ProductoID'] = inventarioInicial_df['ProductoID'].convert_dtypes(int)

In [170]:
tablaInventariosFinal.columns

Index(['Store', 'City', 'Brand', 'Description', 'onHand', 'endDate'], dtype='object')

In [171]:
tablaInventariosFinal.rename(columns={'Store': 'NumeroTienda', 'City': 'Ciudad', 'Brand': 'Marca', 'Description': 'Nombre', 'onHand' : 'StockFinal', 'endDate':'FechaFinal' }, inplace=True)

In [172]:
margeProductos2 = tablaInventariosFinal.merge(productos_df, on=['Marca', 'Nombre'], how='left')

In [173]:
margeTiendas2 = margeProductos2.merge(tiendas_df, on=['NumeroTienda', 'Ciudad'], how='left')

In [174]:
inventarioFinal_df = margeTiendas2[['ProductoID', 'TiendaID', 'StockFinal', 'FechaFinal']].drop_duplicates().reset_index(drop=True)
print(inventarioFinal_df)

        ProductoID  TiendaID  StockFinal  FechaFinal
0           2313.0       1.0          11  2016-12-31
1           2354.0       1.0           7  2016-12-31
2           2379.0       1.0           7  2016-12-31
3           4303.0       1.0           4  2016-12-31
4           2514.0       1.0           7  2016-12-31
...            ...       ...         ...         ...
198017      6314.0       NaN           6  2016-12-31
198018      6073.0       NaN           6  2016-12-31
198019      7455.0       NaN          12  2016-12-31
198020      6074.0       NaN           3  2016-12-31
198021      6316.0       NaN           3  2016-12-31

[198022 rows x 4 columns]

In [168]:
df_concat = pd.concat([inventarioInicial_df, tablaInventariosFinal])
print(df_concat)

        ProductoID  TiendaID  Precio  StockInicial FechaInicial  onHand  \
0           2313.0       1.0   12.99           8.0   2016-01-01     NaN
1           2337.0       1.0   10.99           7.0   2016-01-01     NaN
2           2354.0       1.0   36.99           6.0   2016-01-01     NaN
3           2379.0       1.0   38.99           3.0   2016-01-01     NaN
4           4303.0       1.0   34.99           6.0   2016-01-01     NaN
...            ...       ...     ...           ...          ...     ...
224484         NaN       NaN     NaN           NaN          NaN     3.0
224485         NaN       NaN     NaN           NaN          NaN     3.0
224486         NaN       NaN     NaN           NaN          NaN     3.0
224487         NaN       NaN     NaN           NaN          NaN     3.0
224488         NaN       NaN     NaN           NaN          NaN     2.0

           endDate
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
...            ...
224484  2016-12-31
224485  2016-12-31
224486  2016-12-31
224487  2016-12-31
224488  2016-12-31

[430745 rows x 7 columns]

In [11]:
ventas = ['SalesQuantity','SalesDollars','SalesPrice','SalesDate']
tablaVentas = pd.read_csv('https://drive.usercontent.google.com/download?id=1eQRPyLADEvVZW03fYWv9igZGxRNrTV2N&export=download&authuser=1&confirm=t&uuid=9727b1f3-4032-4414-b1ad-94b6542c1631&at=APZUnTU4Li_ldcTI0kVOaw_doqwB:1724010882647', usecols=ventas)

In [12]:
compras = ['PONumber','PODate','ReceivingDate','InvoiceDate', 'PayDate','PurchasePrice','Quantity','Dollars']
tablaCompras = pd.read_csv('https://drive.usercontent.google.com/download?id=1r0DuLK9JZTbx4ouuuYEGLUS4lZvsa8lG&export=download&authuser=1&confirm=t&uuid=7c1bdf54-2f1b-48d3-87fe-d157d9d9b221&at=APZUnTU_jAENsVpPMq_R9-SF1OpY:1724011140819', usecols=compras)

## Vamos a igual los nombres de las tablas para poder cargar los datos

In [78]:
tablaProveedores.rename(columns={'VendorName': 'Nombre', 'VendorNumber': 'NumeroProveedor'}, inplace=True)
tablaProductos.rename(columns={'Brand': 'Marca', 'Description': 'Nombre', 'Volume': 'Volumen'}, inplace=True)
tablaTiendas.rename(columns={'Store': 'NumeroTienda', 'City': 'Ciudad'}, inplace=True)
tablaInventariosInicial.rename(columns={'Price': 'Precio', 'startDate': 'FechaInicial', 'onHand': 'StockInicial'}, inplace=True)
tablaInventariosFinal.rename(columns={'endDate': 'FechaFinal', 'onHand': 'StockFinal'}, inplace=True)
tablaVentas.rename(columns={'SalesQuantity': 'CantidadVendida', 'SalesDollars': 'TotalVenta', 'SalesPrice': 'PrecioVenta', 'SalesDate': 'FechaVenta'}, inplace=True)
tablaCompras.rename(columns={'PONumber': 'NumeroOrdenCompra', 'PODate': 'FechaOrdenCompra', 'ReceivingDate': 'FechaRecibido', 'InvoiceDate': 'FechaFacturado', 'PayDate': 'FechaPagado', 'PurchasePrice': 'PrecioCompra', 'Quantity': 'Cantidad', 'Dollars': 'TotalCompra'}, inplace=True)

In [21]:
tablaProveedores.columns

Index(['NumeroProveedor', 'Nombre'], dtype='object')

In [22]:
proveedoresUnicos = tablaProveedores['Nombre'].unique()
print(proveedoresUnicos)

['ALTAMAR BRANDS LLC         ' 'AMERICAN VINTAGE BEVERAGE  '
 'ATLANTIC IMPORTING COMPANY ' 'BACARDI USA INC            '
 'BANFI PRODUCTS CORP        ' 'BLACK PRINCE DISTILLERY INC'
 'BROWN-FORMAN CORP          ' 'BULLY BOY DISTILLERS       '
 'CALEDONIA SPIRITS INC      ' 'CAMPARI AMERICA            '
 'CANDIA VINEYARDS           ' 'CASTLE BRANDS CORP.        '
 'CENTEUR IMPORTS LLC        ' 'CHARLES JACQUIN ET CIE INC '
 'CONSTELLATION BRANDS INC   ' 'CRUSH WINES                '
 'DELICATO VINEYARDS INC     ' 'DIAGEO CHATEAU ESTATE WINES'
 'DIAGEO NORTH AMERICA INC   ' 'DISARONNO INTERNATIONAL LLC'
 'DJINN SPIRITS LLC          ' 'DUGGANS DISTILLED PRODUCTS '
 'E & J GALLO WINERY         ' 'EDRINGTON AMERICAS         '
 'FABRIZIA SPIRITS LLC       ' 'FLAG HILL WINERY & VINEYARD'
 'FORTUNE WINE BROKERS LLC   ' 'FREDERICK WILDMAN & SONS   '
 'HEAVEN HILL DISTILLERIES   ' 'HOOD RIVER DISTILLERS, Inc.'
 'INCREDIBREW INC            ' 'JEWELL TOWNE VINEYARDS     '
 'JIM BEAM BRANDS COMPANY    ' 'KLIN SPIRITS LLC           '
 'KOBRAND CORPORATION        ' 'LABELLE VYDS AND WINERY    '
 'LAIRD & CO                 ' 'LATITUDE BEVERAGE COMPANY  '
 'LUXCO INC                  ' 'M S WALKER INC             '
 'MAJESTIC FINE WINES        ' 'MARSALLE COMPANY           '
 'MARTIGNETTI COMPANIES ' 'MARTIGNETTI COMPANIES'
 'MCCORMICK DISTILLING CO    ' 'MHW LTD                    '
 'MOET HENNESSY USA INC      ' 'MOONLIGHT MEADERY          '
 'NICHE W & S                ' 'OLE SMOKY DISTILLERY LLC   '
 'PALM BAY INTERNATIONAL INC ' 'PERFECTA WINES             '
 'PERNOD RICARD USA          ' 'PHILLIPS PRODUCTS CO.      '
 'PINE STATE TRADING CO      ' 'POVERTY LANE ORCHARDS      '
 'PREMIER DISTRIBUTORS       ' 'PROXIMO SPIRITS INC.       ' 'PSP WINES '
 'REMY COINTREAU USA INC     ' 'Russian Standard Vodka     '
 'SAZERAC CO INC             ' 'SAZERAC NORTH AMERICA INC. '
 'SEA HAGG DISTILLERY LLC    ' 'Serralles Usa LLC          '
 'SHAW ROSS INT L IMP LTD    ' 'SIDNEY FRANK IMPORTING CO  '
 'SOUTHERN WINE & SPIRITS NE ' 'STAR INDUSTRIES INC.       '
 'STATE WINE & SPIRITS   ' 'STE MICHELLE WINE ESTATES  '
 'STOLI GROUP,(USA) LLC      ' 'SURVILLE ENTERPRISES CORP  '
 'SWEET BABY VINEYARD        ' 'TAKARA SAKE USA INC        '
 'TALL SHIP DISTILLERY LLC   ' 'TREASURY WINE ESTATES      '
 'TRINCHERO FAMILY ESTATES   ' 'ULTRA BEVERAGE COMPANY LLP '
 'VINEDREA WINES LLC         ' 'VINEXTRA INC               '
 'VINEYARD BRANDS INC        ' 'VINILANDIA USA             '
 'VRANKEN AMERICA            ' 'WEIN BAUER INC             '
 'WESTERN SPIRITS BEVERAGE CO' 'WILLIAM GRANT & SONS INC   '
 'WINE GROUP INC             ' 'ZORVINO VINEYARDS          '
 'APPOLO VINEYARDS LLC       ' 'BRONCO WINE COMPANY        '
 'Dunn Wine Brokers          ' 'FULCHINO VINEYARD INC      '
 'HAUNTING WHISPER VYDS      ' 'PREMIUM PORT WINES, INC.   '
 'SEA BREEZE CELLARS LLC     ' 'SMOKY QUARTZ DISTILLERY LLC'
 'STELLAR IMPORTING CO LLC   ' 'THE PIERPONT GROUP LLC     '
 'TY KU LLC                  ' 'BLACK ROCK SPIRITS LLC     '
 'Circa Wines                ' 'TAMWORTH DISTILLING        '
 'THE IMPORTED GRAPE LLC     ' 'WALPOLE MTN VIEW WINERY    '
 'MILTONS DISTRIBUTING CO    ' 'ALISA CARR BEVERAGES           '
 'CAPSTONE INTERNATIONAL     ' 'MANGO BOTTLING INC         '
 'R.P.IMPORTS INC            ' 'SWEETWATER FARM         '
 'UNCORKED       ' 'HIGHLAND WINE MERCHANTS LLC'
 'PARK STREET IMPORTS LLC    ' 'IRA GOLDMAN AND WILLIAMS, LLP          '
 'SILVER MOUNTAIN CIDERS     ' 'FANTASY FINE WINES CORP    '
 'ADAMBA IMPORTS INTL INC    ' 'AMERICAN SPIRITS EXCHANGE  '
 'TRUETT HURST               ' 'STARK BREWING COMPANY      '
 'SOUTHERN GLAZERS W&S OF NE ' 'GILMANTON WINERY & VINEYARD'
 'FLAVOR ESSENCE INC         ' 'LAUREATE IMPORTS CO        '
 'BLACK COVE BEVERAGES       ' 'LOYAL DOG WINERY           '
 'VINEYARD BRANDS LLC        ' 'AAPER ALCOHOL & CHEMICAL CO']

In [24]:
tablaProveedores.to_sql('Proveedores', engine, if_exists='append', index=False)

474

In [25]:
tablaProductos.columns

Index(['Marca', 'Nombre', 'Volume'], dtype='object')

In [26]:
productosUnicos = tablaProductos['Nombre'].unique()

In [29]:
tablaProductos.shape

(1048575, 3)

In [30]:
productosUnicos.shape

(6890,)

In [37]:
tablaProductos.to_sql('Productos', engine, if_exists='append', index=False)

75

In [35]:
tablaTiendas.to_sql('Tiendas', engine, if_exists='append', index=False)

529

tengo problemas con el stock final, el siguiente codigo no corre justamente porque me dice que tengo valores nulos en stock final y obviamente no se puede rellenar la tabla del sql porque ahi no admite nulls. A REVISAR

In [41]:
# tablaInventariosCombinada = pd.concat([tablaInventariosInicial, tablaInventariosFinal])
# tablaInventariosCombinada.to_sql('Inventario', engine, if_exists='append', index=False)

Van de la mano de la anterior. No corre el codigo porque como la table madre no pudo tener un valor de inventarioID, la de ventas va a fallar tambien pero deja eso como nulo que no se puede. Posiblemente se solucione cuando el codigo de arriba corra.

In [44]:
# tablaVentas.to_sql('Ventas', engine, if_exists='append', index=False)

In [45]:
tablaCompras.to_sql('DetallesCompras', engine, if_exists='append', index=False)

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)

probano de cargar las tablas que tienen FK

In [56]:
tablaInventariosInicial.rename(columns={'Description': 'Nombre'}, inplace=True)

In [59]:
productoInventario = pd.read_sql('SELECT ProductoID, Nombre FROM Productos', engine)

In [60]:
# Suponiendo que tienes un campo 'NombreProducto' en tu CSV que coincide con 'Nombre' en 'Productos'
tablaInventariosInicial = pd.merge(tablaInventariosInicial, productoInventario, on='Nombre', how='left')

KeyError: 'Nombre'

In [70]:
import uuid

In [72]:
productos_df['ProductoID'] = range(1, len(productos_df)+1)
print(productos_df)

      Marca                       Nombre  Tamanio  ProductoID
0      1004   Jim Beam w/2 Rocks Glasses      750           1
1      1005      Maker's Mark Combo Pack      375           2
2     10058  F Coppola Dmd Ivry Cab Svgn      750           3
3      1006  Jim Beam Candy Cane 4/50mLs       50           4
4     10062            Terroirs du Rhone      750           5
...     ...                          ...      ...         ...
7653  45710   Ferrari-Carano Terre Chard      750        7654
7654    603           McCormick Gold Rum     1000        7655
7655  18732               Anarkos Puglia      750        7656
7656    835         Bols Creme De Noyaux     1000        7657
7657  18948         Austin Hope 10 Syrah      750        7658

[7658 rows x 4 columns]