# Librerías

In [1]:
import pyodbc
import uuid
import pandas as pd
import numpy as np
import sqlalchemy

# Conexión a la nube

In [27]:
from sqlalchemy import create_engine

# Configura la conexión a la base de datos local
db_user = 'datafusionlatam'
db_pass = 'DAFTHENRY'
db_name = 'DrinkingTeamDB'
db_host = '104.198.176.117'  # Direccion ip para la conexion a la base de datos en la nube 
db_port = '1433'  # puerto de conexion 

# Crear la cadena de conexión
engine = create_engine(f'mssql+pyodbc://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}?driver=ODBC+Driver+17+for+SQL+Server')

### Lectura de archivos

In [3]:
inventario_inicial_limpio_df= pd.read_csv('https://drive.usercontent.google.com/download?id=1-n6LPzVEQ5tXXB54O1dLFoFUCwqq4nOW&export=download&authuser=1&confirm=t&uuid=367119ce-9a51-4201-90e1-a02243ea8709&at=APZUnTWL2Pg-H8QeoRX1zXzmmQwU:1724010977504', sep=',')

In [4]:
inventario_inicial_limpio_df.head(5)

,Unnamed: 0,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01
1,1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2016-01-01
2,2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2016-01-01
3,3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2016-01-01
4,4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2016-01-01

In [5]:
inventario_final_limpio_df= pd.read_csv('https://drive.usercontent.google.com/download?id=1rdgh46E0dkb0emyE3v8JWh3uGSqRUE0L&export=download&authuser=1&confirm=t&uuid=ef5cabed-1a9f-4f48-9afc-7e9a50b18b82&at=APZUnTXez340bLeUZnJCE9g0KVru:1724011178592', sep=',')

In [6]:
inventario_final_limpio_df.head(5)

,Unnamed: 0,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31
1,1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31
2,2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2016-12-31
3,3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2016-12-31
4,4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2016-12-31

In [7]:
compras_limpio_df= pd.read_csv ('https://drive.usercontent.google.com/download?id=1r0DuLK9JZTbx4ouuuYEGLUS4lZvsa8lG&export=download&authuser=1&confirm=t&uuid=7c1bdf54-2f1b-48d3-87fe-d157d9d9b221&at=APZUnTU_jAENsVpPMq_R9-SF1OpY:1724011140819')

In [8]:
compras_limpio_df.head(5)

,Unnamed: 0,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750,105,ALTAMAR BRANDS LLC,8124,2015-12-21,2016-01-02,2016-01-04,2016-02-16,35.71,6,214.26,1
1,1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1750,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1
2,2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1750,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1
3,3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1750,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1
4,4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1

In [9]:
ventas_limpio_df= pd.read_csv('https://drive.usercontent.google.com/download?id=1eQRPyLADEvVZW03fYWv9igZGxRNrTV2N&export=download&authuser=1&confirm=t&uuid=9727b1f3-4032-4414-b1ad-94b6542c1631&at=APZUnTU4Li_ldcTI0kVOaw_doqwB:1724010882647')

In [10]:
ventas_limpio_df.head(5)

,Unnamed: 0,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2016-01-01,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2016-01-02,750,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2016-01-03,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2016-01-08,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2016-01-09,375,1,0.79,12546,JIM BEAM BRANDS COMPANY

### Tabla Productos

##### Se extraen de los csv las columnas Brand, Description y Size que son identicas para crear la tabla productos

In [11]:
inventario_inicial_productos=inventario_inicial_limpio_df[['Brand','Description','Size']].drop_duplicates().reset_index(drop=True)

In [12]:
inventario_inicial_productos.head(5)

   Brand                  Description   Size
0     58  Gekkeikan Black & Gold Sake  750mL
1     60       Canadian Club 1858 VAP  750mL
2     62     Herradura Silver Tequila  750mL
3     63   Herradura Reposado Tequila  750mL
4     72         No. 3 London Dry Gin  750mL

In [13]:
inventario_final_productos=inventario_final_limpio_df[['Brand','Description','Size']].drop_duplicates().reset_index(drop=True)

In [14]:
inventario_final_productos.head(5)

   Brand                  Description   Size
0     58  Gekkeikan Black & Gold Sake  750mL
1     62     Herradura Silver Tequila  750mL
2     63   Herradura Reposado Tequila  750mL
3     72         No. 3 London Dry Gin  750mL
4     75    Three Olives Tomato Vodka  750mL

In [15]:
ventas_productos=ventas_limpio_df[['Brand','Description','Size']].drop_duplicates().reset_index(drop=True)

In [16]:
ventas_productos.head(5)

   Brand                  Description        Size
0   1004   Jim Beam w/2 Rocks Glasses       750mL
1   1005      Maker's Mark Combo Pack  375mL 2 Pk
2  10058  F Coppola Dmd Ivry Cab Svgn       750mL
3   1006  Jim Beam Candy Cane 4/50mLs   50mL 4 Pk
4  10062            Terroirs du Rhone       750mL

##### Se concatenan las filas en un solo DataFrames

In [17]:
#Lista de dataframes a concatenar
lista_dataframes_productos= [inventario_inicial_productos,inventario_final_productos,ventas_productos]

#Concatenar los DataFrames
productos_concatenados= pd.concat(lista_dataframes_productos,ignore_index=True )

In [28]:
productos_concatenados.head(5)

   Brand                  Description   Size
0     58  Gekkeikan Black & Gold Sake  750mL
1     60       Canadian Club 1858 VAP  750mL
2     62     Herradura Silver Tequila  750mL
3     63   Herradura Reposado Tequila  750mL
4     72         No. 3 London Dry Gin  750mL

In [29]:
productos_concatenados.shape

(25405, 3)

In [30]:
#Se eliminan duplicados
productos_df=productos_concatenados[['Brand','Description','Size']].drop_duplicates().reset_index(drop=True)

In [31]:
productos_df.shape

(11123, 3)

##### Se genera ID, se renombran las columnas y reordenan

In [32]:
#Se genera el ID autoincremental
productos_df['ProductoID'] = range(1, len(productos_df)+1)
print(productos_df)

       Brand                   Description   Size  ProductoID
0         58   Gekkeikan Black & Gold Sake  750mL           1
1         60        Canadian Club 1858 VAP  750mL           2
2         62      Herradura Silver Tequila  750mL           3
3         63    Herradura Reposado Tequila  750mL           4
4         72          No. 3 London Dry Gin  750mL           5
...      ...                           ...    ...         ...
11118  24791  St Mayhem Red Coffee & Peppe  750mL       11119
11119  24792   St Mayhem Wh Peach & Ginger  750mL       11120
11120  36269        Stags Leap Merlot Napa  750mL       11121
11121  13183               Alpataco Malbec  750mL       11122
11122  45710    Ferrari-Carano Terre Chard  750mL       11123

[11123 rows x 4 columns]

In [33]:
#Se renombran las columnas
productos_df.rename(columns={'Brand': 'Marca', 'Description': 'Nombre', 'Size':'Volumen'}, inplace=True)
print(productos_df)

       Marca                        Nombre Volumen  ProductoID
0         58   Gekkeikan Black & Gold Sake   750mL           1
1         60        Canadian Club 1858 VAP   750mL           2
2         62      Herradura Silver Tequila   750mL           3
3         63    Herradura Reposado Tequila   750mL           4
4         72          No. 3 London Dry Gin   750mL           5
...      ...                           ...     ...         ...
11118  24791  St Mayhem Red Coffee & Peppe   750mL       11119
11119  24792   St Mayhem Wh Peach & Ginger   750mL       11120
11120  36269        Stags Leap Merlot Napa   750mL       11121
11121  13183               Alpataco Malbec   750mL       11122
11122  45710    Ferrari-Carano Terre Chard   750mL       11123

[11123 rows x 4 columns]

In [34]:
#Se reordenan las columnas
productos_df = productos_df.reindex(columns=[ 'ProductoID', 'Marca', 'Nombre','Volumen'])
print(productos_df)

       ProductoID  Marca                        Nombre Volumen
0               1     58   Gekkeikan Black & Gold Sake   750mL
1               2     60        Canadian Club 1858 VAP   750mL
2               3     62      Herradura Silver Tequila   750mL
3               4     63    Herradura Reposado Tequila   750mL
4               5     72          No. 3 London Dry Gin   750mL
...           ...    ...                           ...     ...
11118       11119  24791  St Mayhem Red Coffee & Peppe   750mL
11119       11120  24792   St Mayhem Wh Peach & Ginger   750mL
11120       11121  36269        Stags Leap Merlot Napa   750mL
11121       11122  13183               Alpataco Malbec   750mL
11122       11123  45710    Ferrari-Carano Terre Chard   750mL

[11123 rows x 4 columns]

##### Se seleccionan los datos que poblaran la base de datos

In [35]:
datos_productos=productos_df[['Marca', 'Nombre','Volumen']]
print(datos_productos)

       Marca                        Nombre Volumen
0         58   Gekkeikan Black & Gold Sake   750mL
1         60        Canadian Club 1858 VAP   750mL
2         62      Herradura Silver Tequila   750mL
3         63    Herradura Reposado Tequila   750mL
4         72          No. 3 London Dry Gin   750mL
...      ...                           ...     ...
11118  24791  St Mayhem Red Coffee & Peppe   750mL
11119  24792   St Mayhem Wh Peach & Ginger   750mL
11120  36269        Stags Leap Merlot Napa   750mL
11121  13183               Alpataco Malbec   750mL
11122  45710    Ferrari-Carano Terre Chard   750mL

[11123 rows x 3 columns]

In [36]:
productos_df.to_sql('Productos', engine, if_exists='append', index=False)

119

### Tabla Tiendas

##### Se extran las columnas Store y City de los csv

In [37]:
inventario_inicial_tiendas=inventario_inicial_limpio_df[['Store','City']].drop_duplicates().reset_index(drop=True)

In [38]:
inventario_inicial_tiendas.head(5)

   Store          City
0      1  HARDERSFIELD
1      2      ASHBORNE
2      3       HORNSEY
3      4    EANVERNESS
4      5        SUTTON

In [39]:
inventario_final_tiendas=inventario_final_limpio_df[['Store','City']].drop_duplicates().reset_index(drop=True)

In [40]:
inventario_final_tiendas.head(5)

   Store          City
0      1  HARDERSFIELD
1      2      ASHBORNE
2      3       HORNSEY
3      4    EANVERNESS
4      5        SUTTON

##### Se concatenan las filas en un solo DataFrames

In [41]:
#Lista de dataframes a concatenar
lista_dataframes_tiendas= [inventario_inicial_tiendas,inventario_final_tiendas]

#Concatenar los DataFrames
tiendas_concatenadas= pd.concat(lista_dataframes_tiendas,ignore_index=True )

In [42]:
tiendas_concatenadas.head(5)

   Store          City
0      1  HARDERSFIELD
1      2      ASHBORNE
2      3       HORNSEY
3      4    EANVERNESS
4      5        SUTTON

In [43]:
tiendas_concatenadas.shape

(159, 2)

In [44]:
#Se encontro una tienda con ciudad 'Desconocido' como la tienda es la numero 46 se rrelleno ese valor con la ciudad correspondiente
tiendas_concatenadas.loc[124,'City']='TYWARDREATH'

In [45]:
#Se eliminan duplicados
tiendas_df=tiendas_concatenadas[['Store', 'City']].drop_duplicates().reset_index(drop=True)

In [46]:
tiendas_df.shape

(80, 2)

##### Se genera ID, se renombran las columna y ordenan

In [47]:
#Se genera ID autoincremental
tiendas_df['TiendaID'] = range(1, len(tiendas_df)+1)
print(tiendas_df)

    Store          City  TiendaID
0       1  HARDERSFIELD         1
1       2      ASHBORNE         2
2       3       HORNSEY         3
3       4    EANVERNESS         4
4       5        SUTTON         5
..    ...           ...       ...
75     76     DONCASTER        76
76     77      TAMWORTH        77
77     78     EASTHAVEN        78
78     79     BALLYMENA        79
79     81      PEMBROKE        80

[80 rows x 3 columns]

In [48]:
#Se renombran las columnas
tiendas_df.rename(columns={'Store': 'NumeroTienda', 'City': 'Ciudad'}, inplace=True)
print(tiendas_df)

    NumeroTienda        Ciudad  TiendaID
0              1  HARDERSFIELD         1
1              2      ASHBORNE         2
2              3       HORNSEY         3
3              4    EANVERNESS         4
4              5        SUTTON         5
..           ...           ...       ...
75            76     DONCASTER        76
76            77      TAMWORTH        77
77            78     EASTHAVEN        78
78            79     BALLYMENA        79
79            81      PEMBROKE        80

[80 rows x 3 columns]

In [49]:
#Se reordenan las columnas
tiendas_df = tiendas_df.reindex(columns=[ 'TiendaID', 'NumeroTienda', 'Ciudad'])
print(tiendas_df)

    TiendaID  NumeroTienda        Ciudad
0          1             1  HARDERSFIELD
1          2             2      ASHBORNE
2          3             3       HORNSEY
3          4             4    EANVERNESS
4          5             5        SUTTON
..       ...           ...           ...
75        76            76     DONCASTER
76        77            77      TAMWORTH
77        78            78     EASTHAVEN
78        79            79     BALLYMENA
79        80            81      PEMBROKE

[80 rows x 3 columns]

##### Se seleccionan los datos que poblaran la base de datos

In [50]:
datos_tiendas=tiendas_df[['NumeroTienda', 'Ciudad']]
print(tiendas_df)

    TiendaID  NumeroTienda        Ciudad
0          1             1  HARDERSFIELD
1          2             2      ASHBORNE
2          3             3       HORNSEY
3          4             4    EANVERNESS
4          5             5        SUTTON
..       ...           ...           ...
75        76            76     DONCASTER
76        77            77      TAMWORTH
77        78            78     EASTHAVEN
78        79            79     BALLYMENA
79        80            81      PEMBROKE

[80 rows x 3 columns]

In [51]:
tiendas_df.to_sql('Tiendas', engine, if_exists='append', index=False)

80

### Tabla Proveedores

##### Se extraen las columnas VendorNumero, VendorName de los csv

In [52]:
ventas_proveedores=ventas_limpio_df[['VendorNo','VendorName']].drop_duplicates().reset_index(drop=True)

In [53]:
ventas_proveedores.head(5)

   VendorNo                   VendorName
0     12546  JIM BEAM BRANDS COMPANY
1      2000  SOUTHERN WINE & SPIRITS NE
2     10754  PERFECTA WINES
3      8352  LUXCO INC
4     17035  PERNOD RICARD USA

In [54]:
compras_proveedores=compras_limpio_df[['VendorNumber','VendorName']].drop_duplicates().reset_index(drop=True)

In [55]:
compras_proveedores.head(5)

   VendorNumber                   VendorName
0           105  ALTAMAR BRANDS LLC
1          4466  AMERICAN VINTAGE BEVERAGE
2           388  ATLANTIC IMPORTING COMPANY
3           480  BACARDI USA INC
4           516  BANFI PRODUCTS CORP

##### Se renombran las columnas para que coincidan

In [56]:
#Se renombran las columnas
ventas_proveedores.rename(columns={'VendorNo': 'NumeroProveedor', 'VendorName': 'Nombre'}, inplace=True)
print(ventas_proveedores)

     NumeroProveedor                                   Nombre
0              12546              JIM BEAM BRANDS COMPANY
1               2000              SOUTHERN WINE & SPIRITS NE
2              10754              PERFECTA WINES
3               8352              LUXCO INC
4              17035              PERNOD RICARD USA
..               ...                                      ...
112             9710              WHYTE & MACKAY
113             1265              BLACK ROCK SPIRITS LLC
114             1003              BRONCO WINE COMPANY
115                2  IRA GOLDMAN AND WILLIAMS, LLP
116             1002              BERNIKO LLC

[117 rows x 2 columns]

In [57]:
compras_proveedores.rename(columns={'VendorNumber': 'NumeroProveedor', 'VendorName': 'Nombre'}, inplace=True)
print(compras_proveedores)

     NumeroProveedor                       Nombre
0                105  ALTAMAR BRANDS LLC
1               4466  AMERICAN VINTAGE BEVERAGE
2                388  ATLANTIC IMPORTING COMPANY
3                480  BACARDI USA INC
4                516  BANFI PRODUCTS CORP
..               ...                          ...
124             4901  LAUREATE IMPORTS CO
125            90059  BLACK COVE BEVERAGES
126             5083  LOYAL DOG WINERY
127             1587  VINEYARD BRANDS LLC
128               54  AAPER ALCOHOL & CHEMICAL CO

[129 rows x 2 columns]

##### Se concatenan los DataFrames

In [58]:
#Lista de dataframes a concatenar
lista_dataframes_proveedores= [ventas_proveedores,compras_proveedores]

#Concatenar los DataFrames
proveedores_concatenados= pd.concat(lista_dataframes_proveedores,ignore_index=True )

In [59]:
proveedores_concatenados.head(5)

   NumeroProveedor                       Nombre
0            12546  JIM BEAM BRANDS COMPANY
1             2000  SOUTHERN WINE & SPIRITS NE
2            10754  PERFECTA WINES
3             8352  LUXCO INC
4            17035  PERNOD RICARD USA

In [60]:
proveedores_concatenados.shape

(246, 2)

In [61]:
#Se eliminan duplicados
proveedores_df=proveedores_concatenados[['NumeroProveedor', 'Nombre']].drop_duplicates().reset_index(drop=True)

In [62]:
proveedores_df.shape

(131, 2)

##### Se genera ID, se reordenan las columnas

In [63]:
#Se genera ID autoincremental
proveedores_df['ProveedorID'] = range(1, len(proveedores_df)+1)
print(proveedores_df)

     NumeroProveedor                       Nombre  ProveedorID
0              12546  JIM BEAM BRANDS COMPANY                1
1               2000  SOUTHERN WINE & SPIRITS NE             2
2              10754  PERFECTA WINES                         3
3               8352  LUXCO INC                              4
4              17035  PERNOD RICARD USA                      5
..               ...                          ...          ...
126             4901  LAUREATE IMPORTS CO                  127
127            90059  BLACK COVE BEVERAGES                 128
128             5083  LOYAL DOG WINERY                     129
129             1587  VINEYARD BRANDS LLC                  130
130               54  AAPER ALCOHOL & CHEMICAL CO          131

[131 rows x 3 columns]

In [64]:
#Se reordenan las columnas
proveedores_df = proveedores_df.reindex(columns=[ 'ProveedorID', 'Nombre', 'NumeroProveedor'])
print(proveedores_df)

     ProveedorID                       Nombre  NumeroProveedor
0              1  JIM BEAM BRANDS COMPANY                12546
1              2  SOUTHERN WINE & SPIRITS NE              2000
2              3  PERFECTA WINES                         10754
3              4  LUXCO INC                               8352
4              5  PERNOD RICARD USA                      17035
..           ...                          ...              ...
126          127  LAUREATE IMPORTS CO                     4901
127          128  BLACK COVE BEVERAGES                   90059
128          129  LOYAL DOG WINERY                        5083
129          130  VINEYARD BRANDS LLC                     1587
130          131  AAPER ALCOHOL & CHEMICAL CO               54

[131 rows x 3 columns]

##### Se seleccionan los datos que poblaran la base de datos

In [65]:
datos_proveedores=proveedores_df[['Nombre', 'NumeroProveedor']]
print(datos_proveedores)

                          Nombre  NumeroProveedor
0    JIM BEAM BRANDS COMPANY                12546
1    SOUTHERN WINE & SPIRITS NE              2000
2    PERFECTA WINES                         10754
3    LUXCO INC                               8352
4    PERNOD RICARD USA                      17035
..                           ...              ...
126  LAUREATE IMPORTS CO                     4901
127  BLACK COVE BEVERAGES                   90059
128  LOYAL DOG WINERY                        5083
129  VINEYARD BRANDS LLC                     1587
130  AAPER ALCOHOL & CHEMICAL CO               54

[131 rows x 2 columns]

In [66]:
proveedores_df.to_sql('Proveedores', engine, if_exists='append', index=False)

131

### Tabla Inventarios

##### Se extraen la columna InventoryId de los csv

In [75]:
#Se lee un nuevo csv de los registros de inventarios juntos
inventario_total=pd.read_csv('https://storage.googleapis.com/datos-publico/InventariosJuntos.csv', sep=';')

In [76]:
inventario_total.head(5)

,InventoryId,Store,City,Brand,Description,Size,Stock,Price,Date
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,31/12/2016
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,31/12/2016
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,31/12/2016
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,31/12/2016
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,31/12/2016

In [77]:
inventarios=inventario_total[['InventoryId']].drop_duplicates().reset_index(drop=True)

In [78]:
inventarios.head(5)

         InventoryId
0  1_HARDERSFIELD_58
1  1_HARDERSFIELD_62
2  1_HARDERSFIELD_63
3  1_HARDERSFIELD_72
4  1_HARDERSFIELD_75

In [79]:
compras_inventario=compras_limpio_df[['InventoryId']].drop_duplicates().reset_index(drop=True)

In [80]:
compras_inventario.head(5)

           InventoryId
0    69_MOUNTMEND_8412
1     30_CULCHETH_5255
2    34_PITMERDEN_5215
3  1_HARDERSFIELD_5255
4    76_DONCASTER_2034

In [81]:
ventas_inventario=ventas_limpio_df[['InventoryId']].drop_duplicates().reset_index(drop=True)

In [82]:
ventas_inventario.head(5)

            InventoryId
0   1_HARDERSFIELD_1004
1   1_HARDERSFIELD_1005
2  1_HARDERSFIELD_10058
3   1_HARDERSFIELD_1006
4  1_HARDERSFIELD_10062

##### Se concatenan los DataFrames

In [83]:
#Lista de dataframes a concatenar
lista_dataframes_inventarios= [inventarios, compras_inventario, ventas_inventario]

#Concatenar los DataFrames
inventarios_concatenados= pd.concat(lista_dataframes_inventarios,ignore_index=True )

In [84]:
inventarios_concatenados.head(5)

         InventoryId
0  1_HARDERSFIELD_58
1  1_HARDERSFIELD_62
2  1_HARDERSFIELD_63
3  1_HARDERSFIELD_72
4  1_HARDERSFIELD_75

In [85]:
inventarios_concatenados.shape

(670873, 1)

In [86]:
#Se eliminan duplicados
inventarios_df=inventarios_concatenados[['InventoryId']].drop_duplicates().reset_index(drop=True)

In [87]:
inventarios_df.shape

(276276, 1)

##### Se genera el ID

In [88]:
#Se genera ID autoincremental
inventarios_df['InventarioID'] = range(1, len(inventarios_df)+1)
print(inventarios_df)

                 InventoryId  InventarioID
0          1_HARDERSFIELD_58             1
1          1_HARDERSFIELD_62             2
2          1_HARDERSFIELD_63             3
3          1_HARDERSFIELD_72             4
4          1_HARDERSFIELD_75             5
...                      ...           ...
276271        3_HORNSEY_5962        276272
276272    13_TARMSWORTH_2901        276273
276273  47_PELLA'S WISH_5836        276274
276274    55_DRY GULCH_11150        276275
276275    55_DRY GULCH_13725        276276

[276276 rows x 2 columns]

##### Se incorporan las claves foraneas en la tabla inventarios

In [89]:
#Se renombran las columnas
inventario_total.rename(columns={'Store': 'NumeroTienda', 'City': 'Ciudad','Brand': 'Marca', 'Description': 'Nombre', 'Size':'Volumen','onHand':'Stock', 'Price':'Precio', 'Date':'Fecha'}, inplace=True)

In [90]:
inventario_total.columns

Index(['InventoryId', 'NumeroTienda', 'Ciudad', 'Marca', 'Nombre', 'Volumen',
       'Stock', 'Precio', 'Fecha'],
      dtype='object')

In [91]:
inventarioMerge_df=inventario_total.merge(productos_df, on=['Marca','Nombre', 'Volumen'], how='left')

In [92]:
inventarioMerge_df.head(5)

,InventoryId,NumeroTienda,Ciudad,Marca,Nombre,Volumen,Stock,Precio,Fecha,ProductoID
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,31/12/2016,1
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,31/12/2016,3
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,31/12/2016,4
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,31/12/2016,5
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,31/12/2016,6

In [93]:
inventarioMerge2_df=inventarioMerge_df.merge(tiendas_df, on=['NumeroTienda', 'Ciudad'], how='left')

In [94]:
inventarioMerge2_df.head(5)

,InventoryId,NumeroTienda,Ciudad,Marca,Nombre,Volumen,Stock,Precio,Fecha,ProductoID,TiendaID
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,31/12/2016,1,1
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,31/12/2016,3,1
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,31/12/2016,4,1
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,31/12/2016,5,1
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,31/12/2016,6,1

In [95]:
inventarioMerge3_df=inventarioMerge2_df.merge(inventarios_df, on=['InventoryId'], how='left')

In [96]:
inventarioMerge3_df.head(5)

,InventoryId,NumeroTienda,Ciudad,Marca,Nombre,Volumen,Stock,Precio,Fecha,ProductoID,TiendaID,InventarioID
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,31/12/2016,1,1,1
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,31/12/2016,3,1,2
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,31/12/2016,4,1,3
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,31/12/2016,5,1,4
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,31/12/2016,6,1,5

In [97]:
#Se reordenan las columnas
inventarios_totales_df = inventarioMerge3_df.reindex(columns=[ 'InventarioID', 'ProductoID', 'TiendaID', 'Precio', 'Fecha', 'Stock'])
print(inventarios_totales_df)

        InventarioID  ProductoID  TiendaID  Precio       Fecha  Stock
0                  1           1         1   12.99  31/12/2016     11
1                  2           3         1   36.99  31/12/2016      7
2                  3           4         1   38.99  31/12/2016      7
3                  4           5         1   34.99  31/12/2016      4
4                  5           6         1   14.99  31/12/2016      7
...              ...         ...       ...     ...         ...    ...
431013        220894        4840        79   22.99  01/01/2016     13
431014        220895        3254        79   13.99  01/01/2016     13
431015        220896        3255        79   23.99  01/01/2016     19
431016        220897        7039        79  144.99  01/01/2016     12
431017        220898        7048        79  119.99  01/01/2016     24

[431018 rows x 6 columns]

In [98]:
inventarios_totales_df.head(5)

   InventarioID  ProductoID  TiendaID  Precio       Fecha  Stock
0             1           1         1   12.99  31/12/2016     11
1             2           3         1   36.99  31/12/2016      7
2             3           4         1   38.99  31/12/2016      7
3             4           5         1   34.99  31/12/2016      4
4             5           6         1   14.99  31/12/2016      7

##### Se seleccionan los datos que poblaran la base de datos

In [99]:
datos_inventarios=inventarios_totales_df[['ProductoID', 'TiendaID','Precio', 'Fecha', 'Stock']]
print(datos_inventarios)

        ProductoID  TiendaID  Precio       Fecha  Stock
0                1         1   12.99  31/12/2016     11
1                3         1   36.99  31/12/2016      7
2                4         1   38.99  31/12/2016      7
3                5         1   34.99  31/12/2016      4
4                6         1   14.99  31/12/2016      7
...            ...       ...     ...         ...    ...
431013        4840        79   22.99  01/01/2016     13
431014        3254        79   13.99  01/01/2016     13
431015        3255        79   23.99  01/01/2016     19
431016        7039        79  144.99  01/01/2016     12
431017        7048        79  119.99  01/01/2016     24

[431018 rows x 5 columns]

In [100]:
inventarios_totales_df['Fecha'] = pd.to_datetime(inventarios_totales_df['Fecha'])

C:\Users\Usuario1\AppData\Local\Temp\ipykernel_102116\95827706.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  inventarios_totales_df['Fecha'] = pd.to_datetime(inventarios_totales_df['Fecha'])

In [101]:
inventarios_totales_df.to_sql('Inventario', engine, if_exists='append', index=False)

IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Inventar__FB8A24B7F69980FB'. Cannot insert duplicate key in object 'dbo.Inventario'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO [Inventario] ([InventarioID], [ProductoID], [TiendaID], [Precio], [Fecha], [Stock]) VALUES (?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?), (?, ?,  ... 6731 characters truncated ... , (?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?)]
[parameters: (224408, 4504, 80, 9.99, datetime.datetime(2016, 12, 31, 0, 0), 11, 224409, 3197, 80, 18.99, datetime.datetime(2016, 12, 31, 0, 0), 10, 224410, 3198, 80, 12.99, datetime.datetime(2016, 12, 31, 0, 0), 13, 224411, 4831, 80, 6.79, datetime.datetime(2016, 12, 31, 0, 0), 13, 224412, 4229, 80, 49.99, datetime.datetime(2016, 12, 31, 0, 0), 12, 224413, 9647, 80, 12.99, datetime.datetime(2016, 12, 31, 0, 0), 15, 224414, 8589, 80, 8.99, datetime.datetime(2016, 12, 31, 0, 0), 52, 224415, 3201, 80, 6.99, datetime.datetime(2016, 12, 31, 0, 0), 23, 224416, 3490 ... 1994 parameters truncated ... datetime.datetime(2016, 1, 1, 0, 0), 6, 250, 260, 1, 22.99, datetime.datetime(2016, 1, 1, 0, 0), 4, 252, 261, 1, 31.99, datetime.datetime(2016, 1, 1, 0, 0), 9, 253, 262, 1, 29.99, datetime.datetime(2016, 1, 1, 0, 0), 4, 254, 263, 1, 14.99, datetime.datetime(2016, 1, 1, 0, 0), 7, 255, 264, 1, 62.99, datetime.datetime(2016, 1, 1, 0, 0), 3, 256, 265, 1, 64.99, datetime.datetime(2016, 1, 1, 0, 0), 7, 257, 266, 1, 25.99, datetime.datetime(2016, 1, 1, 0, 0), 15, 258, 267, 1, 2.99, datetime.datetime(2016, 1, 1, 0, 0), 36)]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

### Tabla Ventas

##### Se seleccionan los datos de los csv

In [102]:
ventas_limpio_df.columns

Index(['Unnamed: 0', 'InventoryId', 'Store', 'Brand', 'Description', 'Size',
       'SalesQuantity', 'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume',
       'Classification', 'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [103]:
ventas_df=ventas_limpio_df[['InventoryId','SalesQuantity', 'SalesDollars', 'SalesPrice', 'SalesDate', 'VendorNo', 'VendorName', 'Classification']]

In [104]:
#Se renombran las columnas
ventas_df.rename(columns={'SalesQuantity':'CantidadVendida' , 'SalesDollars':'TotalVenta' , 'SalesPrice': 'PrecioVenta', 'SalesDate':'FechaVenta', 'VendorNo':'NumeroProveedor', 'VendorName':'Nombre', 'Classification':'Clasificacion'}, inplace=True)

C:\Users\Usuario1\AppData\Local\Temp\ipykernel_102116\3383008507.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ventas_df.rename(columns={'SalesQuantity':'CantidadVendida' , 'SalesDollars':'TotalVenta' , 'SalesPrice': 'PrecioVenta', 'SalesDate':'FechaVenta', 'VendorNo':'NumeroProveedor', 'VendorName':'Nombre', 'Classification':'Clasificacion'}, inplace=True)

##### Se incorporan las claves foraneas en la tabla ventas

In [105]:
ventasMerge=ventas_df.merge(proveedores_df, on=['NumeroProveedor','Nombre'], how='left')

In [106]:
ventasMerge.head(5)

,InventoryId,CantidadVendida,TotalVenta,PrecioVenta,FechaVenta,NumeroProveedor,Nombre,Clasificacion,ProveedorID
0,1_HARDERSFIELD_1004,1,16.49,16.49,2016-01-01,12546,JIM BEAM BRANDS COMPANY,1,1
1,1_HARDERSFIELD_1004,2,32.98,16.49,2016-01-02,12546,JIM BEAM BRANDS COMPANY,1,1
2,1_HARDERSFIELD_1004,1,16.49,16.49,2016-01-03,12546,JIM BEAM BRANDS COMPANY,1,1
3,1_HARDERSFIELD_1004,1,14.49,14.49,2016-01-08,12546,JIM BEAM BRANDS COMPANY,1,1
4,1_HARDERSFIELD_1005,2,69.98,34.99,2016-01-09,12546,JIM BEAM BRANDS COMPANY,1,1

In [107]:
ventasMerge2=ventasMerge.merge(inventarios_df, on=['InventoryId'], how='left')

In [108]:
ventasMerge2.head(5)

,InventoryId,CantidadVendida,TotalVenta,PrecioVenta,FechaVenta,NumeroProveedor,Nombre,Clasificacion,ProveedorID,InventarioID
0,1_HARDERSFIELD_1004,1,16.49,16.49,2016-01-01,12546,JIM BEAM BRANDS COMPANY,1,1,224509
1,1_HARDERSFIELD_1004,2,32.98,16.49,2016-01-02,12546,JIM BEAM BRANDS COMPANY,1,1,224509
2,1_HARDERSFIELD_1004,1,16.49,16.49,2016-01-03,12546,JIM BEAM BRANDS COMPANY,1,1,224509
3,1_HARDERSFIELD_1004,1,14.49,14.49,2016-01-08,12546,JIM BEAM BRANDS COMPANY,1,1,224509
4,1_HARDERSFIELD_1005,2,69.98,34.99,2016-01-09,12546,JIM BEAM BRANDS COMPANY,1,1,224510

In [109]:
ventasMerge2.shape

(1048575, 10)

##### Se reordenan las columnas y se establece el flujo de datos a la base

In [110]:
#Se genera ID autoincremental
ventasMerge2['VentaID'] = range(1, len(ventasMerge2)+1)
print(ventasMerge2)

                 InventoryId  CantidadVendida  TotalVenta  PrecioVenta  \
0        1_HARDERSFIELD_1004                1       16.49        16.49
1        1_HARDERSFIELD_1004                2       32.98        16.49
2        1_HARDERSFIELD_1004                1       16.49        16.49
3        1_HARDERSFIELD_1004                1       14.49        14.49
4        1_HARDERSFIELD_1005                2       69.98        34.99
...                      ...              ...         ...          ...
1048570  19_WINTERVALE_39384                4       51.80        12.95
1048571  19_WINTERVALE_39384                8      103.60        12.95
1048572  19_WINTERVALE_39384                1       12.95        12.95
1048573  19_WINTERVALE_39384                3       38.85        12.95
1048574  19_WINTERVALE_39384                2       25.90        12.95

         FechaVenta  NumeroProveedor                       Nombre  \
0        2016-01-01            12546  JIM BEAM BRANDS COMPANY
1        2016-01-02            12546  JIM BEAM BRANDS COMPANY
2        2016-01-03            12546  JIM BEAM BRANDS COMPANY
3        2016-01-08            12546  JIM BEAM BRANDS COMPANY
4        2016-01-09            12546  JIM BEAM BRANDS COMPANY
...             ...              ...                          ...
1048570  2016-02-12             2000  SOUTHERN WINE & SPIRITS NE
1048571  2016-02-13             2000  SOUTHERN WINE & SPIRITS NE
1048572  2016-02-19             2000  SOUTHERN WINE & SPIRITS NE
1048573  2016-02-22             2000  SOUTHERN WINE & SPIRITS NE
1048574  2016-02-24             2000  SOUTHERN WINE & SPIRITS NE

         Clasificacion  ProveedorID  InventarioID  VentaID
0                    1            1        224509        1
1                    1            1        224509        2
2                    1            1        224509        3
3                    1            1        224509        4
4                    1            1        224510        5
...                ...          ...           ...      ...
1048570              2            2         45155  1048571
1048571              2            2         45155  1048572
1048572              2            2         45155  1048573
1048573              2            2         45155  1048574
1048574              2            2         45155  1048575

[1048575 rows x 11 columns]

In [111]:
ventasMerge2.columns

Index(['InventoryId', 'CantidadVendida', 'TotalVenta', 'PrecioVenta',
       'FechaVenta', 'NumeroProveedor', 'Nombre', 'Clasificacion',
       'ProveedorID', 'InventarioID', 'VentaID'],
      dtype='object')

In [113]:
#Se reordenan las columnas
datos_ventas= ventasMerge2.reindex(columns=[ 'VentaID', 'InventarioID', 'ProveedorID', 'CantidadVendida', 'TotalVenta', 'PrecioVenta', 'FechaVenta', 'Clasificacion'])
print(datos_ventas)

         VentaID  InventarioID  ProveedorID  CantidadVendida  TotalVenta  \
0              1        224509            1                1       16.49
1              2        224509            1                2       32.98
2              3        224509            1                1       16.49
3              4        224509            1                1       14.49
4              5        224510            1                2       69.98
...          ...           ...          ...              ...         ...
1048570  1048571         45155            2                4       51.80
1048571  1048572         45155            2                8      103.60
1048572  1048573         45155            2                1       12.95
1048573  1048574         45155            2                3       38.85
1048574  1048575         45155            2                2       25.90

         PrecioVenta  FechaVenta  Clasificacion
0              16.49  2016-01-01              1
1              16.49  2016-01-02              1
2              16.49  2016-01-03              1
3              14.49  2016-01-08              1
4              34.99  2016-01-09              1
...              ...         ...            ...
1048570        12.95  2016-02-12              2
1048571        12.95  2016-02-13              2
1048572        12.95  2016-02-19              2
1048573        12.95  2016-02-22              2
1048574        12.95  2016-02-24              2

[1048575 rows x 8 columns]

In [114]:
datos_ventas.to_sql('Ventas', engine, if_exists='append', index=False)

IntegrityError: (pyodbc.IntegrityError) ('23000', '[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The INSERT statement conflicted with the FOREIGN KEY constraint "Fk_Ventas_Inventario". The conflict occurred in database "DrinkingTeamDB", table "dbo.Inventario", column \'InventarioID\'. (547) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)')
[SQL: INSERT INTO [Ventas] ([VentaID], [InventarioID], [ProveedorID], [CantidadVendida], [TotalVenta], [PrecioVenta], [FechaVenta], [Clasificacion]) VALUES (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?,  ... 6610 characters truncated ... , ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (1, 224509, 1, 1, 16.49, 16.49, '2016-01-01', 1, 2, 224509, 1, 2, 32.98, 16.49, '2016-01-02', 1, 3, 224509, 1, 1, 16.49, 16.49, '2016-01-03', 1, 4, 224509, 1, 1, 14.49, 14.49, '2016-01-08', 1, 5, 224510, 1, 2, 69.98, 34.99, '2016-01-09', 1, 6, 224510, 1, 1, 34.99, 34.99, '2016-01-15', 1, 7, 224510 ... 1996 parameters truncated ... '2016-01-07', 2, 257, 1922, 25, 2, 19.9, 9.95, '2016-01-08', 2, 258, 1922, 25, 1, 9.95, 9.95, '2016-01-12', 2, 259, 1922, 25, 1, 9.95, 9.95, '2016-01-20', 2, 260, 1922, 25, 1, 9.95, 9.95, '2016-01-22', 2, 261, 1922, 25, 1, 9.95, 9.95, '2016-01-31', 2, 262, 224533, 9, 1, 46.99, 46.99, '2016-01-28', 1)]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

### Tabla Compras

##### Se seleccionan los datos de los csv

In [115]:
compras_limpio_df.columns

Index(['Unnamed: 0', 'InventoryId', 'Store', 'Brand', 'Description', 'Size',
       'VendorNumber', 'VendorName', 'PONumber', 'PODate', 'ReceivingDate',
       'InvoiceDate', 'PayDate', 'PurchasePrice', 'Quantity', 'Dollars',
       'Classification'],
      dtype='object')

In [116]:
compras_limpio_df.shape

(2372474, 17)

In [118]:
compras_df=compras_limpio_df[['InventoryId','VendorNumber', 'VendorName','PONumber', 'PODate', 'ReceivingDate','InvoiceDate', 'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification']]

In [119]:
#Se renombran las columnas
compras_df.rename(columns={'VendorNumber':'NumeroProveedor', 'VendorName':'Nombre', 'PONumber':'NumeroOrdenCompra', 'PODate':'FechaOrdenCompra', 'ReceivingDate':'FechaRecibido','InvoiceDate':'FechaFacturado', 'PayDate': 'FechaPagado', 'PurchasePrice':'PrecioCompra', 'Quantity':'Cantidad', 'Dollars':'TotalCompra', 'Classification':'Clasificacion'}, inplace=True)

C:\Users\Usuario1\AppData\Local\Temp\ipykernel_102116\3310980259.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compras_df.rename(columns={'VendorNumber':'NumeroProveedor', 'VendorName':'Nombre', 'PONumber':'NumeroOrdenCompra', 'PODate':'FechaOrdenCompra', 'ReceivingDate':'FechaRecibido','InvoiceDate':'FechaFacturado', 'PayDate': 'FechaPagado', 'PurchasePrice':'PrecioCompra', 'Quantity':'Cantidad', 'Dollars':'TotalCompra', 'Classification':'Clasificacion'}, inplace=True)

##### Se incorporan las claves foraneas en la tabla compras

In [120]:
comprasMerge=compras_df.merge(proveedores_df, on=['NumeroProveedor','Nombre'], how='left')

In [121]:
comprasMerge.head(5)

,InventoryId,NumeroProveedor,Nombre,NumeroOrdenCompra,FechaOrdenCompra,FechaRecibido,FechaFacturado,FechaPagado,PrecioCompra,Cantidad,TotalCompra,Clasificacion,ProveedorID
0,69_MOUNTMEND_8412,105,ALTAMAR BRANDS LLC,8124,2015-12-21,2016-01-02,2016-01-04,2016-02-16,35.71,6,214.26,1,89
1,30_CULCHETH_5255,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1,84
2,34_PITMERDEN_5215,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1,84
3,1_HARDERSFIELD_5255,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1,84
4,76_DONCASTER_2034,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1,63

In [122]:
comprasMerge2=comprasMerge.merge(inventarios_df, on=['InventoryId'], how='left')

In [123]:
comprasMerge2.head(5)

,InventoryId,NumeroProveedor,Nombre,NumeroOrdenCompra,FechaOrdenCompra,FechaRecibido,FechaFacturado,FechaPagado,PrecioCompra,Cantidad,TotalCompra,Clasificacion,ProveedorID,InventarioID
0,69_MOUNTMEND_8412,105,ALTAMAR BRANDS LLC,8124,2015-12-21,2016-01-02,2016-01-04,2016-02-16,35.71,6,214.26,1,89,183937
1,30_CULCHETH_5255,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1,84,69023
2,34_PITMERDEN_5215,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1,84,81251
3,1_HARDERSFIELD_5255,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1,84,1272
4,76_DONCASTER_2034,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1,63,207939

In [124]:
comprasMerge2.shape

(2372474, 14)

In [125]:
comprasMerge2.columns

Index(['InventoryId', 'NumeroProveedor', 'Nombre', 'NumeroOrdenCompra',
       'FechaOrdenCompra', 'FechaRecibido', 'FechaFacturado', 'FechaPagado',
       'PrecioCompra', 'Cantidad', 'TotalCompra', 'Clasificacion',
       'ProveedorID', 'InventarioID'],
      dtype='object')

##### Se reordenan las columnas y se establece el flujo de datos a la base

In [126]:
#Se reordenan las columnas
datos_compras = comprasMerge2.reindex(columns=['InventarioID','ProveedorID', 'NumeroOrdenCompra', 'FechaOrdenCompra', 'FechaRecibido', 'FechaFacturado', 'FechaPagado', 'PrecioCompra', 'Cantidad', 'TotalCompra', 'Clasificacion'])
print(datos_compras)

         InventarioID  ProveedorID  NumeroOrdenCompra FechaOrdenCompra  \
0              183937           89               8124       2015-12-21
1               69023           84               8137       2015-12-22
2               81251           84               8137       2015-12-22
3                1272           84               8137       2015-12-22
4              207939           63               8169       2015-12-24
...               ...          ...                ...              ...
2372469        122337           61              13593       2016-12-19
2372470          2313           61              13593       2016-12-19
2372471        171402           61              13593       2016-12-19
2372472        185071           61              13593       2016-12-19
2372473        142388           61              13593       2016-12-19

        FechaRecibido FechaFacturado FechaPagado  PrecioCompra  Cantidad  \
0          2016-01-02     2016-01-04  2016-02-16         35.71         6
1          2016-01-01     2016-01-07  2016-02-21          9.35         4
2          2016-01-02     2016-01-07  2016-02-21          9.41         5
3          2016-01-01     2016-01-07  2016-02-21          9.35         6
4          2016-01-02     2016-01-09  2016-02-16         21.32         5
...               ...            ...         ...           ...       ...
2372469    2016-12-28     2017-01-09  2017-02-06          8.06        12
2372470    2016-12-27     2017-01-09  2017-02-06          9.39        12
2372471    2016-12-26     2017-01-09  2017-02-06          6.75        12
2372472    2016-12-26     2017-01-09  2017-02-06          9.39        12
2372473    2016-12-28     2017-01-09  2017-02-06          8.06        12

         TotalCompra  Clasificacion
0             214.26              1
1              37.40              1
2              47.05              1
3              56.10              1
4             106.60              1
...              ...            ...
2372469        96.72              2
2372470       112.68              2
2372471        81.00              2
2372472       112.68              2
2372473        96.72              2

[2372474 rows x 11 columns]

In [106]:
datos_compras.to_sql('Compras', engine, if_exists='append', index=False)

115

# Finalizacion de la ingesta de datos dentro de la base de datos en la nube