### IMPORTACION DE LIBRERIAS

In [180]:
import pyodbc
import uuid
import pandas as pd
import numpy as np
import sqlalchemy

### CONEXION CON LA BASE EN SQL LOCAL

In [214]:
from sqlalchemy import create_engine

# Configura la conexión a la base de datos local
db_user = 'IgnaPrueba'
db_pass = 'DAFTHENRY'
db_name = 'DrinkingTeamDB'
db_host = 'DESKTOP-NP4VJ1H\SQLEXPRESS'  # Para entornos locales, a menudo es 'localhost' o '127.0.0.1'
db_port = '1433'  # Puerto predeterminado de SQL Server, puede variar si has configurado otro

# Crear la cadena de conexión
engine = create_engine(f'mssql+pyodbc://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}?driver=ODBC+Driver+17+for+SQL+Server')

### COMPLETAR LA TABLA DE PRODUCTOS

In [182]:
inventarioincial_df= pd.read_csv('https://drive.usercontent.google.com/download?id=1-n6LPzVEQ5tXXB54O1dLFoFUCwqq4nOW&export=download&authuser=1&confirm=t&uuid=367119ce-9a51-4201-90e1-a02243ea8709&at=APZUnTWL2Pg-H8QeoRX1zXzmmQwU:1724010977504', sep=',')

In [183]:
inventarioincial_df.head(10)

,Unnamed: 0,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01
1,1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2016-01-01
2,2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2016-01-01
3,3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2016-01-01
4,4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2016-01-01
5,5,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,18,14.99,2016-01-01
6,6,1_HARDERSFIELD_77,1,HARDERSFIELD,77,Three Olives Espresso Vodka,750mL,7,14.99,2016-01-01
7,7,1_HARDERSFIELD_79,1,HARDERSFIELD,79,Three Olives Loopy Vodka,750mL,2,14.99,2016-01-01
8,8,1_HARDERSFIELD_115,1,HARDERSFIELD,115,Belvedere Vodka,Liter,5,27.99,2016-01-01
9,9,1_HARDERSFIELD_120,1,HARDERSFIELD,120,Tarantula Azul Tequila Gift,750mL,11,13.99,2016-01-01

In [192]:
inventarioincial_df.describe

<bound method NDFrame.describe of         Unnamed: 0         InventoryId  Store          City  Brand  \
0                0   1_HARDERSFIELD_58      1  HARDERSFIELD     58
1                1   1_HARDERSFIELD_60      1  HARDERSFIELD     60
2                2   1_HARDERSFIELD_62      1  HARDERSFIELD     62
3                3   1_HARDERSFIELD_63      1  HARDERSFIELD     63
4                4   1_HARDERSFIELD_72      1  HARDERSFIELD     72
...            ...                 ...    ...           ...    ...
206524      206524  79_BALLYMENA_46985     79     BALLYMENA  46985
206525      206525  79_BALLYMENA_47014     79     BALLYMENA  47014
206526      206526  79_BALLYMENA_47090     79     BALLYMENA  47090
206527      206527  79_BALLYMENA_90011     79     BALLYMENA  90011
206528      206528  79_BALLYMENA_90089     79     BALLYMENA  90089

                         Description   Size  onHand   Price   startDate
0        Gekkeikan Black & Gold Sake  750mL       8   12.99  2016-01-01
1             Canadian Club 1858 VAP  750mL       7   10.99  2016-01-01
2           Herradura Silver Tequila  750mL       6   36.99  2016-01-01
3         Herradura Reposado Tequila  750mL       3   38.99  2016-01-01
4               No. 3 London Dry Gin  750mL       6   34.99  2016-01-01
...                              ...    ...     ...     ...         ...
206524  Rodney Strong Cab Svgn Alexa  750mL      13   22.99  2016-01-01
206525           Juan Gil Jumilla Rd  750mL      13   13.99  2016-01-01
206526    Napa Cellars Cab Svgn Napa  750mL      19   23.99  2016-01-01
206527  Ch Pichon Longville 12 Pauil  750mL      12  144.99  2016-01-01
206528    Ch Lynch Bages 12 Pauillac  750mL      24  119.99  2016-01-01

[206529 rows x 10 columns]>

In [184]:
inventarioFinal_df= pd.read_csv('https://drive.usercontent.google.com/download?id=1rdgh46E0dkb0emyE3v8JWh3uGSqRUE0L&export=download&authuser=1&confirm=t&uuid=ef5cabed-1a9f-4f48-9afc-7e9a50b18b82&at=APZUnTXez340bLeUZnJCE9g0KVru:1724011178592', sep=',')

In [193]:
inventarioFinal_df.describe

<bound method NDFrame.describe of         Unnamed: 0        InventoryId  Store          City  Brand  \
0                0  1_HARDERSFIELD_58      1  HARDERSFIELD     58
1                1  1_HARDERSFIELD_62      1  HARDERSFIELD     62
2                2  1_HARDERSFIELD_63      1  HARDERSFIELD     63
3                3  1_HARDERSFIELD_72      1  HARDERSFIELD     72
4                4  1_HARDERSFIELD_75      1  HARDERSFIELD     75
...            ...                ...    ...           ...    ...
224484      224484  81_PEMBROKE_90087     81      PEMBROKE  90087
224485      224485  81_PEMBROKE_90088     81      PEMBROKE  90088
224486      224486  81_PEMBROKE_90089     81      PEMBROKE  90089
224487      224487  81_PEMBROKE_90090     81      PEMBROKE  90090
224488      224488  81_PEMBROKE_90604     81      PEMBROKE  90604

                         Description   Size  onHand   Price     endDate
0        Gekkeikan Black & Gold Sake  750mL      11   12.99  2016-12-31
1           Herradura Silver Tequila  750mL       7   36.99  2016-12-31
2         Herradura Reposado Tequila  750mL       7   38.99  2016-12-31
3               No. 3 London Dry Gin  750mL       4   34.99  2016-12-31
4          Three Olives Tomato Vodka  750mL       7   14.99  2016-12-31
...                              ...    ...     ...     ...         ...
224484  Ch Mouton Rothschild 12 Paui  750mL       3  469.99  2016-12-31
224485  Ch Le Petite Mouton 12 Pauil  750mL       3  134.99  2016-12-31
224486    Ch Lynch Bages 12 Pauillac  750mL       3  119.99  2016-12-31
224487       Ch Lafite Rothschild 12  750mL       3  649.99  2016-12-31
224488        Ch Lynch Bages Pauilac  750mL       2  119.99  2016-12-31

[224489 rows x 10 columns]>

In [185]:
inventarioFinal_df.head(10)

,Unnamed: 0,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31
1,1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31
2,2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2016-12-31
3,3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2016-12-31
4,4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2016-12-31
5,5,1_HARDERSFIELD_77,1,HARDERSFIELD,77,Three Olives Espresso Vodka,750mL,18,14.99,2016-12-31
6,6,1_HARDERSFIELD_79,1,HARDERSFIELD,79,Three Olives Loopy Vodka,750mL,7,14.99,2016-12-31
7,7,1_HARDERSFIELD_115,1,HARDERSFIELD,115,Belvedere Vodka,Liter,35,27.99,2016-12-31
8,8,1_HARDERSFIELD_126,1,HARDERSFIELD,126,Grey Goose Vodka,Liter,36,29.99,2016-12-31
9,9,1_HARDERSFIELD_159,1,HARDERSFIELD,159,Glenmorangie Original VAP,750mL + 2/,8,34.99,2016-12-31

In [187]:
columnasInventarioFinal_df = inventarioFinal_df[['InventoryId', 'onHand', 'endDate']]

In [188]:
columnasInventarioFinal_df.head(5)

         InventoryId  onHand     endDate
0  1_HARDERSFIELD_58      11  2016-12-31
1  1_HARDERSFIELD_62       7  2016-12-31
2  1_HARDERSFIELD_63       7  2016-12-31
3  1_HARDERSFIELD_72       4  2016-12-31
4  1_HARDERSFIELD_75       7  2016-12-31

In [189]:
inventario_df = pd.merge(inventarioincial_df, columnasInventarioFinal_df, on='InventoryId')

In [190]:
inventario_df.head(5)

,Unnamed: 0,InventoryId,Store,City,Brand,Description,Size,onHand_x,Price,startDate,onHand_y,endDate
0,0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01,11,2016-12-31
1,2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2016-01-01,7,2016-12-31
2,3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2016-01-01,7,2016-12-31
3,4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2016-01-01,4,2016-12-31
4,5,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,18,14.99,2016-01-01,7,2016-12-31

In [191]:
inventario_df.isnull().sum()

Unnamed: 0     0
InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
onHand_x       0
Price          0
startDate      0
onHand_y       0
endDate        0
dtype: int64

In [297]:
inventarioTotal = pd.read_csv(r"C:\Users\Usuario1\Desktop\HENRY\Trabajo Final\Libro1.csv", sep=';')

In [298]:
inventarioTotal.head(5)

,InventoryId,Store,City,Brand,Description,Size,Stock,Price,Date
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,31/12/2016
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,31/12/2016
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,31/12/2016
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,31/12/2016
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,31/12/2016

In [299]:
print(inventarioTotal.dtypes)

InventoryId     object
Store            int64
City            object
Brand            int64
Description     object
Size            object
Stock            int64
Price          float64
Date            object
dtype: object

In [300]:
productos_df = inventarioTotal[['Brand','Description', 'Size']].drop_duplicates().reset_index(drop=True)

In [301]:
productos_df.shape

(10878, 3)

In [303]:
productos_df.isnull().sum()

Brand          0
Description    0
Size           0
dtype: int64

In [304]:
productos_df['ProductoID'] = range(1, len(productos_df)+1)
print(productos_df)

       Brand                  Description   Size  ProductoID
0         58  Gekkeikan Black & Gold Sake  750mL           1
1         62     Herradura Silver Tequila  750mL           2
2         63   Herradura Reposado Tequila  750mL           3
3         72         No. 3 London Dry Gin  750mL           4
4         75    Three Olives Tomato Vodka  750mL           5
...      ...                          ...    ...         ...
10873  38529       Seghesio Cortina Znfdl  750mL       10874
10874    808                  Gilbeys Gin  Liter       10875
10875    201        Nassua Royale Liqueur  Liter       10876
10876  10938     Grahams 40-Yr Tawny Port  750mL       10877
10877  23694            Dom Perignon Rose  750mL       10878

[10878 rows x 4 columns]

In [305]:
productos_df.rename(columns={'Brand': 'Marca', 'Description': 'Nombre', 'Size': 'Volumen'}, inplace=True)

In [306]:
productos_df = productos_df.reindex(columns=[ 'ProductoID', 'Marca', 'Nombre', 'Volumen'])

In [307]:
productos_df.columns

Index(['ProductoID', 'Marca', 'Nombre', 'Volumen'], dtype='object')

In [215]:
productos_df.to_sql('Productos', engine, if_exists='append', index=False)

398

In [308]:
print(productos_df.dtypes)

ProductoID     int64
Marca          int64
Nombre        object
Volumen       object
dtype: object

### COMPLETAR LA TABLA DE TIENDAS

In [222]:
tiendas_df = inventarioTotal[['Store','City']].drop_duplicates().reset_index(drop=True)

In [223]:
tiendas_df.shape

(80, 2)

In [224]:
tiendas_df.isnull().sum()

Store    0
City     0
dtype: int64

In [225]:
tiendas_df['TiendaID'] = range(1, len(tiendas_df)+1)
print(tiendas_df)

    Store          City  TiendaID
0       1  HARDERSFIELD         1
1       2      ASHBORNE         2
2       3       HORNSEY         3
3       4    EANVERNESS         4
4       5        SUTTON         5
..    ...           ...       ...
75     76     DONCASTER        76
76     77      TAMWORTH        77
77     78     EASTHAVEN        78
78     79     BALLYMENA        79
79     81      PEMBROKE        80

[80 rows x 3 columns]

In [226]:
tiendas_df.rename(columns={'Store': 'NumeroTienda', 'City': 'Ciudad'}, inplace=True)

In [227]:
tiendas_df = tiendas_df.reindex(columns=[ 'TiendaID', 'NumeroTienda', 'Ciudad'])

In [228]:
tiendas_df.to_sql('Tiendas', engine, if_exists='append', index=False)

80

### COMPLETAR LA TABLA DE INVENTARIOS (MERGE)

In [421]:
inventarioTotal.rename(columns={'Store': 'NumeroTienda', 'City': 'Ciudad', 'Brand': 'Marca', 'Description': 'Nombre', 'Size': 'Volumen', 'Price':'Precio', 'Date': 'Fecha'}, inplace=True)

In [422]:
inventarioTotal.columns

Index(['InventoryId', 'NumeroTienda', 'Ciudad', 'Marca', 'Nombre', 'Volumen',
       'Stock', 'Precio', 'Fecha'],
      dtype='object')

In [423]:
inventarioMerge_df=inventarioTotal.merge(tiendas_df, on=['NumeroTienda','Ciudad'], how='left')

In [424]:
inventarioMerge_df.head(5)

,InventoryId,NumeroTienda,Ciudad,Marca,Nombre,Volumen,Stock,Precio,Fecha,TiendaID
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,31/12/2016,1
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,31/12/2016,1
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,31/12/2016,1
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,31/12/2016,1
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,31/12/2016,1

In [425]:
inventarioTotalMerge_df=inventarioMerge_df.merge(productos_df, on=['Marca','Nombre', 'Volumen'], how='left')

In [426]:
inventarioTotalMerge_df.head(5)

,InventoryId,NumeroTienda,Ciudad,Marca,Nombre,Volumen,Stock,Precio,Fecha,TiendaID,ProductoID
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,31/12/2016,1,1
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,31/12/2016,1,2
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,31/12/2016,1,3
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,31/12/2016,1,4
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,31/12/2016,1,5

In [427]:
inventarioTotalMerge_df['InventarioID'] = range(1, len(inventarioTotalMerge_df)+1)
print(inventarioTotalMerge_df)

               InventoryId  NumeroTienda        Ciudad  Marca  \
0        1_HARDERSFIELD_58             1  HARDERSFIELD     58
1        1_HARDERSFIELD_62             1  HARDERSFIELD     62
2        1_HARDERSFIELD_63             1  HARDERSFIELD     63
3        1_HARDERSFIELD_72             1  HARDERSFIELD     72
4        1_HARDERSFIELD_75             1  HARDERSFIELD     75
...                    ...           ...           ...    ...
431013  79_BALLYMENA_46985            79     BALLYMENA  46985
431014  79_BALLYMENA_47014            79     BALLYMENA  47014
431015  79_BALLYMENA_47090            79     BALLYMENA  47090
431016  79_BALLYMENA_90011            79     BALLYMENA  90011
431017  79_BALLYMENA_90089            79     BALLYMENA  90089

                              Nombre Volumen  Stock  Precio       Fecha  \
0        Gekkeikan Black & Gold Sake   750mL     11   12.99  31/12/2016
1           Herradura Silver Tequila   750mL      7   36.99  31/12/2016
2         Herradura Reposado Tequila   750mL      7   38.99  31/12/2016
3               No. 3 London Dry Gin   750mL      4   34.99  31/12/2016
4          Three Olives Tomato Vodka   750mL      7   14.99  31/12/2016
...                              ...     ...    ...     ...         ...
431013  Rodney Strong Cab Svgn Alexa   750mL     13   22.99  01/01/2016
431014           Juan Gil Jumilla Rd   750mL     13   13.99  01/01/2016
431015    Napa Cellars Cab Svgn Napa   750mL     19   23.99  01/01/2016
431016  Ch Pichon Longville 12 Pauil   750mL     12  144.99  01/01/2016
431017    Ch Lynch Bages 12 Pauillac   750mL     24  119.99  01/01/2016

        TiendaID  ProductoID  InventarioID
0              1           1             1
1              1           2             2
2              1           3             3
3              1           4             4
4              1           5             5
...          ...         ...           ...
431013        79        3189        431014
431014        79        3190        431015
431015        79        3191        431016
431016        79        7497        431017
431017        79        7505        431018

[431018 rows x 12 columns]

In [428]:
inventarioTotalMerge_df.head(5)

,InventoryId,NumeroTienda,Ciudad,Marca,Nombre,Volumen,Stock,Precio,Fecha,TiendaID,ProductoID,InventarioID
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,31/12/2016,1,1,1
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,31/12/2016,1,2,2
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,31/12/2016,1,3,3
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,31/12/2016,1,4,4
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,31/12/2016,1,5,5

In [430]:
inventarioTotalMerge_df.columns

Index(['InventoryId', 'NumeroTienda', 'Ciudad', 'Marca', 'Nombre', 'Volumen',
       'Stock', 'Precio', 'Fecha', 'TiendaID', 'ProductoID', 'InventarioID'],
      dtype='object')

In [321]:
inventarioTotalMerge_df = inventarioTotalMerge_df.reindex(columns=[ 'InventarioID', 'ProductoID', 'TiendaID', 'Precio', 'Stock', 'Fecha'])

In [326]:
inventarioTotalFinal = inventarioTotalMerge_df[['InventarioID', 'ProductoID', 'TiendaID', 'Precio', 'Stock', 'Fecha']]

In [328]:
inventarioTotalFinal.head(5)

   InventarioID  ProductoID  TiendaID  Precio  Stock       Fecha
0             1           1         1   12.99     11  31/12/2016
1             2           2         1   36.99      7  31/12/2016
2             3           3         1   38.99      7  31/12/2016
3             4           4         1   34.99      4  31/12/2016
4             5           5         1   14.99      7  31/12/2016

In [338]:
inventarioTotalFinal['Fecha'] = pd.to_datetime(inventarioTotalFinal['Fecha'])

In [339]:
inventarioTotalFinal.to_sql('Inventario', engine, if_exists='append', index=False)

3

### COMPLETAR LA TABLA DE PROVEEDORES

In [340]:
proveedor = ['VendorName', 'VendorNumber']
tablaProveedores = pd.read_csv('https://drive.usercontent.google.com/download?id=1r0DuLK9JZTbx4ouuuYEGLUS4lZvsa8lG&export=download&authuser=1&confirm=t&uuid=7c1bdf54-2f1b-48d3-87fe-d157d9d9b221&at=APZUnTU_jAENsVpPMq_R9-SF1OpY:1724011140819', usecols=proveedor)

In [341]:
tablaProveedores.columns

Index(['VendorNumber', 'VendorName'], dtype='object')

In [344]:
tablaProveedores.isnull().sum()

VendorNumber    0
VendorName      0
dtype: int64

In [345]:
tablaProveedores.shape

(2372474, 2)

In [342]:
proveedores_df = tablaProveedores[['VendorNumber','VendorName']].drop_duplicates().reset_index(drop=True)

In [346]:
proveedores_df.shape

(129, 2)

In [377]:
proveedores_df['ProveedorID'] = range(1, len(proveedores_df)+1)
print(proveedores_df)

     ProveedorID                       Nombre  NumeroProveedor
0              1  ALTAMAR BRANDS LLC                       105
1              2  AMERICAN VINTAGE BEVERAGE               4466
2              3  ATLANTIC IMPORTING COMPANY               388
3              4  BACARDI USA INC                          480
4              5  BANFI PRODUCTS CORP                      516
..           ...                          ...              ...
128          129  AAPER ALCOHOL & CHEMICAL CO               54
129          130               WHYTE & MACKAY             9710
130          131                  BERNIKO LLC             1002
131          132               WHYTE & MACKAY             9710
132          133                  BERNIKO LLC             1002

[133 rows x 3 columns]

In [348]:
proveedores_df.rename(columns={'VendorNumber': 'NumeroProveedor', 'VendorName': 'Nombre'}, inplace=True)

In [373]:
nuevo_df = pd.DataFrame({'ProveedorID': [130, 131], 'Nombre': ['WHYTE & MACKAY', 'BERNIKO LLC'], 'NumeroProveedor': [9710, 1002]})

# Concatenar los DataFrames
proveedores_df = pd.concat([proveedores_df, nuevo_df], ignore_index=True)

In [378]:
proveedores_df = proveedores_df.drop(index=[131, 132])
print(proveedores_df)

     ProveedorID                       Nombre  NumeroProveedor
0              1  ALTAMAR BRANDS LLC                       105
1              2  AMERICAN VINTAGE BEVERAGE               4466
2              3  ATLANTIC IMPORTING COMPANY               388
3              4  BACARDI USA INC                          480
4              5  BANFI PRODUCTS CORP                      516
..           ...                          ...              ...
126          127  LOYAL DOG WINERY                        5083
127          128  VINEYARD BRANDS LLC                     1587
128          129  AAPER ALCOHOL & CHEMICAL CO               54
129          130               WHYTE & MACKAY             9710
130          131                  BERNIKO LLC             1002

[131 rows x 3 columns]

In [396]:
proveedores_df.columns

Index(['ProveedorID', 'Nombre', 'NumeroProveedor'], dtype='object')

In [397]:
proveedores_df = proveedores_df.reindex(columns=[ 'ProveedorID', 'Nombre', 'NumeroProveedor'])

In [351]:
proveedores_df.to_sql('Proveedores', engine, if_exists='append', index=False)

129

### COMPLETAR LA TABLA DE VENTAS

In [352]:
tablaVentas = pd.read_csv('https://drive.usercontent.google.com/download?id=1eQRPyLADEvVZW03fYWv9igZGxRNrTV2N&export=download&authuser=1&confirm=t&uuid=9727b1f3-4032-4414-b1ad-94b6542c1631&at=APZUnTU4Li_ldcTI0kVOaw_doqwB:1724010882647')

In [399]:
tablaVentas.columns

Index(['Unnamed: 0', 'InventoryId', 'Store', 'Brand', 'Description', 'Size',
       'SalesQuantity', 'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume',
       'Classification', 'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [400]:
tablaVentas_df = tablaVentas[['InventoryId', 'VendorNo', 'VendorName', 'SalesQuantity', 'SalesDollars', 'SalesPrice', 'SalesDate']]

In [401]:
tablaVentas_df.columns

Index(['InventoryId', 'VendorNo', 'VendorName', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate'],
      dtype='object')

In [402]:
tablaVentas_df.rename(columns={'VendorNo': 'NumeroProveedor', 'VendorName': 'Nombre', 'SalesQuantity' : 'CantidadVendida', 'SalesDollars' : 'TotalVentas', 'SalesPrice' : 'PrecioVenta', 'SalesDate' : 'Fecha' }, inplace=True)

C:\Users\Usuario1\AppData\Local\Temp\ipykernel_10628\2202405841.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tablaVentas_df.rename(columns={'VendorNo': 'NumeroProveedor', 'VendorName': 'Nombre', 'SalesQuantity' : 'CantidadVendida', 'SalesDollars' : 'TotalVentas', 'SalesPrice' : 'PrecioVenta', 'SalesDate' : 'Fecha' }, inplace=True)

In [403]:
tablaVentas_df.columns

Index(['InventoryId', 'NumeroProveedor', 'Nombre', 'CantidadVendida',
       'TotalVentas', 'PrecioVenta', 'Fecha'],
      dtype='object')

In [404]:
ventasMerge=tablaVentas_df.merge(proveedores_df, on=['NumeroProveedor','Nombre'], how='left')

In [405]:
proveedores_df.isnull().sum()

ProveedorID        0
Nombre             0
NumeroProveedor    0
dtype: int64

In [410]:
ventasMerge.loc[374815, 'ProveedorID'] = 130
ventasMerge.loc[873327, 'ProveedorID'] = 131

In [417]:
ventasMerge.head(5)

,InventoryId,NumeroProveedor,Nombre,CantidadVendida,TotalVentas,PrecioVenta,Fecha,ProveedorID
0,1_HARDERSFIELD_1004,12546,JIM BEAM BRANDS COMPANY,1,16.49,16.49,2016-01-01,33
1,1_HARDERSFIELD_1004,12546,JIM BEAM BRANDS COMPANY,2,32.98,16.49,2016-01-02,33
2,1_HARDERSFIELD_1004,12546,JIM BEAM BRANDS COMPANY,1,16.49,16.49,2016-01-03,33
3,1_HARDERSFIELD_1004,12546,JIM BEAM BRANDS COMPANY,1,14.49,14.49,2016-01-08,33
4,1_HARDERSFIELD_1005,12546,JIM BEAM BRANDS COMPANY,2,69.98,34.99,2016-01-09,33

In [416]:
ventasMerge['ProveedorID']=ventasMerge['ProveedorID'].astype(int)

In [412]:
ventasMerge.isnull().sum()

InventoryId        0
NumeroProveedor    0
Nombre             0
CantidadVendida    0
TotalVentas        0
PrecioVenta        0
Fecha              0
ProveedorID        0
dtype: int64

In [436]:
inventarioTotalMerge_df.columns

Index(['InventoryId', 'NumeroTienda', 'Ciudad', 'Marca', 'Nombre', 'Volumen',
       'Stock', 'Precio', 'Fecha', 'TiendaID', 'ProductoID', 'InventarioID'],
      dtype='object')

In [437]:
ventasMerge.columns

Index(['InventoryId', 'NumeroProveedor', 'Nombre', 'CantidadVendida',
       'TotalVentas', 'PrecioVenta', 'Fecha', 'ProveedorID'],
      dtype='object')

In [441]:
ventasInventarioMerge=ventasMerge.merge(inventarioTotalMerge_df, on=['InventoryId'], how='inner')

In [442]:
ventasInventarioMerge.head(5)

,InventoryId,NumeroProveedor,Nombre_x,CantidadVendida,TotalVentas,PrecioVenta,Fecha_x,ProveedorID,NumeroTienda,Ciudad,Marca,Nombre_y,Volumen,Stock,Precio,Fecha_y,TiendaID,ProductoID,InventarioID
0,1_HARDERSFIELD_1004,12546,JIM BEAM BRANDS COMPANY,1,16.49,16.49,2016-01-01,33,1,HARDERSFIELD,1004,Jim Beam w/2 Rocks Glasses,750mL,17,16.49,01/01/2016,1,9663,224607
1,1_HARDERSFIELD_1004,12546,JIM BEAM BRANDS COMPANY,2,32.98,16.49,2016-01-02,33,1,HARDERSFIELD,1004,Jim Beam w/2 Rocks Glasses,750mL,17,16.49,01/01/2016,1,9663,224607
2,1_HARDERSFIELD_1004,12546,JIM BEAM BRANDS COMPANY,1,16.49,16.49,2016-01-03,33,1,HARDERSFIELD,1004,Jim Beam w/2 Rocks Glasses,750mL,17,16.49,01/01/2016,1,9663,224607
3,1_HARDERSFIELD_1004,12546,JIM BEAM BRANDS COMPANY,1,14.49,14.49,2016-01-08,33,1,HARDERSFIELD,1004,Jim Beam w/2 Rocks Glasses,750mL,17,16.49,01/01/2016,1,9663,224607
4,1_HARDERSFIELD_1005,12546,JIM BEAM BRANDS COMPANY,2,69.98,34.99,2016-01-09,33,1,HARDERSFIELD,1005,Maker's Mark Combo Pack,375mL 2 Pk,7,34.99,01/01/2016,1,9664,224608

In [443]:
ventasInventarioMerge.isnull().sum()

InventoryId        0
NumeroProveedor    0
Nombre_x           0
CantidadVendida    0
TotalVentas        0
PrecioVenta        0
Fecha_x            0
ProveedorID        0
NumeroTienda       0
Ciudad             0
Marca              0
Nombre_y           0
Volumen            0
Stock              0
Precio             0
Fecha_y            0
TiendaID           0
ProductoID         0
InventarioID       0
dtype: int64

In [446]:
ventasInventarioMerge.columns

Index(['InventoryId', 'NumeroProveedor', 'Nombre_x', 'CantidadVendida',
       'TotalVentas', 'PrecioVenta', 'Fecha_x', 'ProveedorID', 'NumeroTienda',
       'Ciudad', 'Marca', 'Nombre_y', 'Volumen', 'Stock', 'Precio', 'Fecha_y',
       'TiendaID', 'ProductoID', 'InventarioID', 'VentasID'],
      dtype='object')

In [445]:
ventasInventarioMerge['VentasID'] = range(1, len(ventasInventarioMerge)+1)
print(ventasInventarioMerge)

                 InventoryId  NumeroProveedor                     Nombre_x  \
0        1_HARDERSFIELD_1004            12546  JIM BEAM BRANDS COMPANY
1        1_HARDERSFIELD_1004            12546  JIM BEAM BRANDS COMPANY
2        1_HARDERSFIELD_1004            12546  JIM BEAM BRANDS COMPANY
3        1_HARDERSFIELD_1004            12546  JIM BEAM BRANDS COMPANY
4        1_HARDERSFIELD_1005            12546  JIM BEAM BRANDS COMPANY
...                      ...              ...                          ...
1995044  19_WINTERVALE_39384             2000  SOUTHERN WINE & SPIRITS NE
1995045  19_WINTERVALE_39384             2000  SOUTHERN WINE & SPIRITS NE
1995046  19_WINTERVALE_39384             2000  SOUTHERN WINE & SPIRITS NE
1995047  19_WINTERVALE_39384             2000  SOUTHERN WINE & SPIRITS NE
1995048  19_WINTERVALE_39384             2000  SOUTHERN WINE & SPIRITS NE

         CantidadVendida  TotalVentas  PrecioVenta     Fecha_x  ProveedorID  \
0                      1        16.49        16.49  2016-01-01           33
1                      2        32.98        16.49  2016-01-02           33
2                      1        16.49        16.49  2016-01-03           33
3                      1        14.49        14.49  2016-01-08           33
4                      2        69.98        34.99  2016-01-09           33
...                  ...          ...          ...         ...          ...
1995044                1        12.95        12.95  2016-02-19           68
1995045                3        38.85        12.95  2016-02-22           68
1995046                3        38.85        12.95  2016-02-22           68
1995047                2        25.90        12.95  2016-02-24           68
1995048                2        25.90        12.95  2016-02-24           68

         NumeroTienda        Ciudad  Marca                    Nombre_y  \
0                   1  HARDERSFIELD   1004  Jim Beam w/2 Rocks Glasses
1                   1  HARDERSFIELD   1004  Jim Beam w/2 Rocks Glasses
2                   1  HARDERSFIELD   1004  Jim Beam w/2 Rocks Glasses
3                   1  HARDERSFIELD   1004  Jim Beam w/2 Rocks Glasses
4                   1  HARDERSFIELD   1005     Maker's Mark Combo Pack
...               ...           ...    ...                         ...
1995044            19    WINTERVALE  39384    F Coppola Diamond Pnt Nr
1995045            19    WINTERVALE  39384    F Coppola Diamond Pnt Nr
1995046            19    WINTERVALE  39384    F Coppola Diamond Pnt Nr
1995047            19    WINTERVALE  39384    F Coppola Diamond Pnt Nr
1995048            19    WINTERVALE  39384    F Coppola Diamond Pnt Nr

            Volumen  Stock  Precio     Fecha_y  TiendaID  ProductoID  \
0             750mL     17   16.49  01/01/2016         1        9663
1             750mL     17   16.49  01/01/2016         1        9663
2             750mL     17   16.49  01/01/2016         1        9663
3             750mL     17   16.49  01/01/2016         1        9663
4        375mL 2 Pk      7   34.99  01/01/2016         1        9664
...             ...    ...     ...         ...       ...         ...
1995044       750mL      7   16.99  01/01/2016        19        3008
1995045       750mL     10   16.99  31/12/2016        19        3008
1995046       750mL      7   16.99  01/01/2016        19        3008
1995047       750mL     10   16.99  31/12/2016        19        3008
1995048       750mL      7   16.99  01/01/2016        19        3008

         InventarioID  VentasID
0              224607         1
1              224607         2
2              224607         3
3              224607         4
4              224608         5
...               ...       ...
1995044        268933   1995045
1995045         45155   1995046
1995046        268933   1995047
1995047         45155   1995048
1995048        268933   1995049

[1995049 rows x 20 columns]

In [449]:
ventasInventarioMerge.columns

Index(['InventoryId', 'NumeroProveedor', 'Nombre_x', 'CantidadVendida',
       'TotalVenta', 'PrecioVenta', 'FechaVenta', 'ProveedorID',
       'NumeroTienda', 'Ciudad', 'Marca', 'Nombre_y', 'Volumen', 'Stock',
       'Precio', 'Fecha_y', 'TiendaID', 'ProductoID', 'InventarioID',
       'VentasID'],
      dtype='object')

In [451]:
ventasInventarioMerge.rename(columns={ 'VentasID': 'VentaID', 'TotalVentas': 'TotalVenta', 'Fecha_x': 'FechaVenta'}, inplace=True)

In [452]:
ventasInventarioMergeCarga = ventasInventarioMerge.reindex(columns=[ 'VentaID', 'InventarioID', 'ProveedorID', 'CantidadVendida', 'TotalVenta', 'PrecioVenta', 'FechaVenta'])

In [453]:
ventasInventarioMergeCarga.to_sql('Ventas', engine, if_exists='append', index=False)

121

### COMPLETAR LA TABLA DE COMPRAS

In [409]:
tablaCompras = pd.read_csv('https://drive.usercontent.google.com/download?id=1r0DuLK9JZTbx4ouuuYEGLUS4lZvsa8lG&export=download&authuser=1&confirm=t&uuid=7c1bdf54-2f1b-48d3-87fe-d157d9d9b221&at=APZUnTU_jAENsVpPMq_R9-SF1OpY:1724011140819')

In [455]:
tablaCompras.shape

(2372474, 17)

In [454]:
tablaCompras.columns

Index(['Unnamed: 0', 'InventoryId', 'Store', 'Brand', 'Description', 'Size',
       'VendorNumber', 'VendorName', 'PONumber', 'PODate', 'ReceivingDate',
       'InvoiceDate', 'PayDate', 'PurchasePrice', 'Quantity', 'Dollars',
       'Classification'],
      dtype='object')

In [ ]:
tablaCompras_df = tablaCompras[['InventoryId', 'VendorNo', 'VendorName', 'SalesQuantity', 'SalesDollars', 'SalesPrice', 'SalesDate']]

In [ ]:
tablaCompras_df.rename(columns={'VendorNo': 'NumeroProveedor', 'VendorName': 'Nombre', 'SalesQuantity' : 'CantidadVendida', 'SalesDollars' : 'TotalVentas', 'SalesPrice' : 'PrecioVenta', 'SalesDate' : 'Fecha' }, inplace=True)

In [ ]:
comprasMerge=tablaCompras_df.merge(proveedores_df, on=['NumeroProveedor','Nombre'], how='left')