In [7]:
pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.1.0-cp310-cp310-win_amd64.whl (68 kB)
     -------------------------------------- 68.7/68.7 KB 943.5 kB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-5.1.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 24.2 is available.
You should consider upgrading via the 'c:\Users\Usuario1\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
import pyodbc

In [ ]:
# Configura los detalles de la conexión usando la información proporcionada
server = '104.198.176.117' #servidor
database = 'DrinkingTeamDB'  # Nombre de la base de datos
username = 'datafusionlatam'  # Usuario
password = 'DAFTHENRY'  # Contraseña
port = '1433' #puerto

# Cadena de conexión
cnxn_str = f"DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};PORT={port};ENCRYPT=no;"

# Conectarse a la base de datos
cnxn = pyodbc.connect(cnxn_str)

# Crear un cursor para ejecutar consultas
cursor = cnxn.cursor()

# Ejecutar una consulta
# cursor.execute("SELECT * FROM Productos")

# Recuperar los resultados
# rows = cursor.fetchall()

# Imprimir los resultados
# for row in rows:
#    print(row)

# Cerrar la conexión
cnxn.close()

probando cargar datos con mi base local

In [10]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\usuario1\appdata\local\programs\python\python310\lib\site-packages (2.0.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\usuario1\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\usuario1\appdata\roaming\python\python310\site-packages (from sqlalchemy) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 24.2 is available.
You should consider upgrading via the 'c:\Users\Usuario1\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [3]:
import pandas as pd
import pyodbc
import sqlalchemy

conectando a la base local para una vez que esten todas bien, poder subir los datos a la nube (cambiando la conexion de arriba hacia la base que esta en google cloud)

In [4]:
from sqlalchemy import create_engine

# Configura la conexión a la base de datos local
db_user = 'IgnaPrueba'
db_pass = 'DAFTHENRY'
db_name = 'DrinkingTeamDB'
db_host = 'DESKTOP-NP4VJ1H\SQLEXPRESS'  # Para entornos locales, a menudo es 'localhost' o '127.0.0.1'
db_port = '1433'  # Puerto predeterminado de SQL Server, puede variar si has configurado otro

# Crear la cadena de conexión
engine = create_engine(f'mssql+pyodbc://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}?driver=ODBC+Driver+17+for+SQL+Server')

Aqui estoy leyendo todo el codigo de Compras. Hay que hacer lo mismo con los otros 3 dataset, pero hay que ver si los leemos completos o si solamente leemos las columnas que nos interesan. En lo personal, iria solamente por las columnas que nos interesan cargar los datos en la base de datos.

In [52]:
#df = pd.read_csv('https://drive.usercontent.google.com/download?id=1Id7ERr7pXVJCfempvpEzseJ8WPF_Hs5j&export=download&authuser=0&confirm=t&uuid=3f33a3fd-2696-4250-b026-b62f6c445e4a&at=APZUnTUbyMP2tLICvQCO15n8Z4fY%3A1723646561085')
# columna_a_cargar = ['Store']
df = pd.read_csv('https://drive.usercontent.google.com/download?id=1r0DuLK9JZTbx4ouuuYEGLUS4lZvsa8lG&export=download&authuser=1&confirm=t&uuid=7c1bdf54-2f1b-48d3-87fe-d157d9d9b221&at=APZUnTU_jAENsVpPMq_R9-SF1OpY:1724011140819')

Este codigo de abajo, no se termino usando, pero lo dejamos por el momento por las dudas que lo vayamos a usar.

In [62]:
columna_a_cargar = ['Brand', 'Description']
paraCompletarTablaMarca = pd.read_csv('https://drive.usercontent.google.com/download?id=1r0DuLK9JZTbx4ouuuYEGLUS4lZvsa8lG&export=download&authuser=1&confirm=t&uuid=7c1bdf54-2f1b-48d3-87fe-d157d9d9b221&at=APZUnTU_jAENsVpPMq_R9-SF1OpY:1724011140819', usecols=columna_a_cargar)

Este "columna a cargar 2" es el que terminamos usando para la tabla de Marcas 2 después de hacer varios intentos, se pudo cargar los datos desde cvs limpio hacia la base de datos, a traves de python.

In [66]:
columna_a_cargar2 = ['Description']
paraCompletarTablaMarca2 = pd.read_csv('https://drive.usercontent.google.com/download?id=1r0DuLK9JZTbx4ouuuYEGLUS4lZvsa8lG&export=download&authuser=1&confirm=t&uuid=7c1bdf54-2f1b-48d3-87fe-d157d9d9b221&at=APZUnTU_jAENsVpPMq_R9-SF1OpY:1724011140819', usecols=columna_a_cargar2)

In [68]:
# Antes de hacer correr este codigo, cambiar en la tabla de sql el nombre de BRAND por el de Description. Y tmb, ponele INDENTITY al id
paraCompletarTablaMarca2.to_sql('Marcas2', engine, if_exists='append', index=False)

474

se deja el siguiente codigo en comentario, es para no tener que cambiar los nombres en la base de datos, solamente hacer un merge entre sql y los cvs

In [ ]:
# df.rename(columns={'columna1': 'nombre_db1', 'columna2': 'nombre_db2'}, inplace=True)

## Vamos a realizar la lectura para luego realizar la carga en la base de datos.

In [5]:
proveedor = ['VendorName', 'VendorNumber']
tablaProveedores = pd.read_csv('https://drive.usercontent.google.com/download?id=1r0DuLK9JZTbx4ouuuYEGLUS4lZvsa8lG&export=download&authuser=1&confirm=t&uuid=7c1bdf54-2f1b-48d3-87fe-d157d9d9b221&at=APZUnTU_jAENsVpPMq_R9-SF1OpY:1724011140819', usecols=proveedor)

In [6]:
productos = ['Brand', 'Description', 'Volume']
tablaProductos = pd.read_csv('https://drive.usercontent.google.com/download?id=1eQRPyLADEvVZW03fYWv9igZGxRNrTV2N&export=download&authuser=1&confirm=t&uuid=9727b1f3-4032-4414-b1ad-94b6542c1631&at=APZUnTU4Li_ldcTI0kVOaw_doqwB:1724010882647', usecols=productos)

In [7]:
tiendas = ['Store', 'City']
tablaTiendas = pd.read_csv('https://drive.usercontent.google.com/download?id=1-n6LPzVEQ5tXXB54O1dLFoFUCwqq4nOW&export=download&authuser=1&confirm=t&uuid=367119ce-9a51-4201-90e1-a02243ea8709&at=APZUnTWL2Pg-H8QeoRX1zXzmmQwU:1724010977504', usecols=tiendas)

In [8]:
inventarioInicial = ['Price', 'startDate','onHand']
tablaInventariosInicial = pd.read_csv('https://drive.usercontent.google.com/download?id=1-n6LPzVEQ5tXXB54O1dLFoFUCwqq4nOW&export=download&authuser=1&confirm=t&uuid=367119ce-9a51-4201-90e1-a02243ea8709&at=APZUnTWL2Pg-H8QeoRX1zXzmmQwU:1724010977504', usecols=inventarioInicial)

In [10]:
inventarioFinal = ['endDate','onHand']
tablaInventariosFinal = pd.read_csv('https://drive.usercontent.google.com/download?id=1rdgh46E0dkb0emyE3v8JWh3uGSqRUE0L&export=download&authuser=1&confirm=t&uuid=ef5cabed-1a9f-4f48-9afc-7e9a50b18b82&at=APZUnTXez340bLeUZnJCE9g0KVru:1724011178592', usecols=inventarioFinal)

In [11]:
ventas = ['SalesQuantity','SalesDollars','SalesPrice','SalesDate']
tablaVentas = pd.read_csv('https://drive.usercontent.google.com/download?id=1eQRPyLADEvVZW03fYWv9igZGxRNrTV2N&export=download&authuser=1&confirm=t&uuid=9727b1f3-4032-4414-b1ad-94b6542c1631&at=APZUnTU4Li_ldcTI0kVOaw_doqwB:1724010882647', usecols=ventas)

In [12]:
compras = ['PONumber','PODate','ReceivingDate','InvoiceDate', 'PayDate','PurchasePrice','Quantity','Dollars']
tablaCompras = pd.read_csv('https://drive.usercontent.google.com/download?id=1r0DuLK9JZTbx4ouuuYEGLUS4lZvsa8lG&export=download&authuser=1&confirm=t&uuid=7c1bdf54-2f1b-48d3-87fe-d157d9d9b221&at=APZUnTU_jAENsVpPMq_R9-SF1OpY:1724011140819', usecols=compras)

## Vamos a igual los nombres de las tablas para poder cargar los datos

In [33]:
tablaProveedores.rename(columns={'VendorName': 'Nombre', 'VendorNumber': 'NumeroProveedor'}, inplace=True)
tablaProductos.rename(columns={'Brand': 'Marca', 'Description': 'Nombre', 'Volume': 'Tamanio'}, inplace=True)
tablaTiendas.rename(columns={'Store': 'NumeroTienda', 'City': 'Ciudad'}, inplace=True)
tablaInventariosInicial.rename(columns={'Price': 'Precio', 'startDate': 'FechaInicial', 'onHand': 'StockInicial'}, inplace=True)
tablaInventariosFinal.rename(columns={'endDate': 'FechaFinal', 'onHand': 'StockFinal'}, inplace=True)
tablaVentas.rename(columns={'SalesQuantity': 'CantidadVendida', 'SalesDollars': 'TotalVenta', 'SalesPrice': 'PrecioVenta', 'SalesDate': 'FechaVenta'}, inplace=True)
tablaCompras.rename(columns={'PONumber': 'NumeroOrdenCompra', 'PODate': 'FechaOrdenCompra', 'ReceivingDate': 'FechaRecibido', 'InvoiceDate': 'FechaFacturado', 'PayDate': 'FechaPagado', 'PurchasePrice': 'PrecioCompra', 'Quantity': 'Cantidad', 'Dollars': 'TotalCompra'}, inplace=True)

In [21]:
tablaProveedores.columns

Index(['NumeroProveedor', 'Nombre'], dtype='object')

In [22]:
proveedoresUnicos = tablaProveedores['Nombre'].unique()
print(proveedoresUnicos)

['ALTAMAR BRANDS LLC         ' 'AMERICAN VINTAGE BEVERAGE  '
 'ATLANTIC IMPORTING COMPANY ' 'BACARDI USA INC            '
 'BANFI PRODUCTS CORP        ' 'BLACK PRINCE DISTILLERY INC'
 'BROWN-FORMAN CORP          ' 'BULLY BOY DISTILLERS       '
 'CALEDONIA SPIRITS INC      ' 'CAMPARI AMERICA            '
 'CANDIA VINEYARDS           ' 'CASTLE BRANDS CORP.        '
 'CENTEUR IMPORTS LLC        ' 'CHARLES JACQUIN ET CIE INC '
 'CONSTELLATION BRANDS INC   ' 'CRUSH WINES                '
 'DELICATO VINEYARDS INC     ' 'DIAGEO CHATEAU ESTATE WINES'
 'DIAGEO NORTH AMERICA INC   ' 'DISARONNO INTERNATIONAL LLC'
 'DJINN SPIRITS LLC          ' 'DUGGANS DISTILLED PRODUCTS '
 'E & J GALLO WINERY         ' 'EDRINGTON AMERICAS         '
 'FABRIZIA SPIRITS LLC       ' 'FLAG HILL WINERY & VINEYARD'
 'FORTUNE WINE BROKERS LLC   ' 'FREDERICK WILDMAN & SONS   '
 'HEAVEN HILL DISTILLERIES   ' 'HOOD RIVER DISTILLERS, Inc.'
 'INCREDIBREW INC            ' 'JEWELL TOWNE VINEYARDS     '
 'JIM BEAM BRANDS COMPANY    ' 'KLIN SPIRITS LLC           '
 'KOBRAND CORPORATION        ' 'LABELLE VYDS AND WINERY    '
 'LAIRD & CO                 ' 'LATITUDE BEVERAGE COMPANY  '
 'LUXCO INC                  ' 'M S WALKER INC             '
 'MAJESTIC FINE WINES        ' 'MARSALLE COMPANY           '
 'MARTIGNETTI COMPANIES ' 'MARTIGNETTI COMPANIES'
 'MCCORMICK DISTILLING CO    ' 'MHW LTD                    '
 'MOET HENNESSY USA INC      ' 'MOONLIGHT MEADERY          '
 'NICHE W & S                ' 'OLE SMOKY DISTILLERY LLC   '
 'PALM BAY INTERNATIONAL INC ' 'PERFECTA WINES             '
 'PERNOD RICARD USA          ' 'PHILLIPS PRODUCTS CO.      '
 'PINE STATE TRADING CO      ' 'POVERTY LANE ORCHARDS      '
 'PREMIER DISTRIBUTORS       ' 'PROXIMO SPIRITS INC.       ' 'PSP WINES '
 'REMY COINTREAU USA INC     ' 'Russian Standard Vodka     '
 'SAZERAC CO INC             ' 'SAZERAC NORTH AMERICA INC. '
 'SEA HAGG DISTILLERY LLC    ' 'Serralles Usa LLC          '
 'SHAW ROSS INT L IMP LTD    ' 'SIDNEY FRANK IMPORTING CO  '
 'SOUTHERN WINE & SPIRITS NE ' 'STAR INDUSTRIES INC.       '
 'STATE WINE & SPIRITS   ' 'STE MICHELLE WINE ESTATES  '
 'STOLI GROUP,(USA) LLC      ' 'SURVILLE ENTERPRISES CORP  '
 'SWEET BABY VINEYARD        ' 'TAKARA SAKE USA INC        '
 'TALL SHIP DISTILLERY LLC   ' 'TREASURY WINE ESTATES      '
 'TRINCHERO FAMILY ESTATES   ' 'ULTRA BEVERAGE COMPANY LLP '
 'VINEDREA WINES LLC         ' 'VINEXTRA INC               '
 'VINEYARD BRANDS INC        ' 'VINILANDIA USA             '
 'VRANKEN AMERICA            ' 'WEIN BAUER INC             '
 'WESTERN SPIRITS BEVERAGE CO' 'WILLIAM GRANT & SONS INC   '
 'WINE GROUP INC             ' 'ZORVINO VINEYARDS          '
 'APPOLO VINEYARDS LLC       ' 'BRONCO WINE COMPANY        '
 'Dunn Wine Brokers          ' 'FULCHINO VINEYARD INC      '
 'HAUNTING WHISPER VYDS      ' 'PREMIUM PORT WINES, INC.   '
 'SEA BREEZE CELLARS LLC     ' 'SMOKY QUARTZ DISTILLERY LLC'
 'STELLAR IMPORTING CO LLC   ' 'THE PIERPONT GROUP LLC     '
 'TY KU LLC                  ' 'BLACK ROCK SPIRITS LLC     '
 'Circa Wines                ' 'TAMWORTH DISTILLING        '
 'THE IMPORTED GRAPE LLC     ' 'WALPOLE MTN VIEW WINERY    '
 'MILTONS DISTRIBUTING CO    ' 'ALISA CARR BEVERAGES           '
 'CAPSTONE INTERNATIONAL     ' 'MANGO BOTTLING INC         '
 'R.P.IMPORTS INC            ' 'SWEETWATER FARM         '
 'UNCORKED       ' 'HIGHLAND WINE MERCHANTS LLC'
 'PARK STREET IMPORTS LLC    ' 'IRA GOLDMAN AND WILLIAMS, LLP          '
 'SILVER MOUNTAIN CIDERS     ' 'FANTASY FINE WINES CORP    '
 'ADAMBA IMPORTS INTL INC    ' 'AMERICAN SPIRITS EXCHANGE  '
 'TRUETT HURST               ' 'STARK BREWING COMPANY      '
 'SOUTHERN GLAZERS W&S OF NE ' 'GILMANTON WINERY & VINEYARD'
 'FLAVOR ESSENCE INC         ' 'LAUREATE IMPORTS CO        '
 'BLACK COVE BEVERAGES       ' 'LOYAL DOG WINERY           '
 'VINEYARD BRANDS LLC        ' 'AAPER ALCOHOL & CHEMICAL CO']

In [24]:
tablaProveedores.to_sql('Proveedores', engine, if_exists='append', index=False)

474

In [25]:
tablaProductos.columns

Index(['Marca', 'Nombre', 'Volume'], dtype='object')

In [26]:
productosUnicos = tablaProductos['Nombre'].unique()

In [29]:
tablaProductos.shape

(1048575, 3)

In [30]:
productosUnicos.shape

(6890,)

In [37]:
tablaProductos.to_sql('Productos', engine, if_exists='append', index=False)

75

In [35]:
tablaTiendas.to_sql('Tiendas', engine, if_exists='append', index=False)

529

tengo problemas con el stock final, el siguiente codigo no corre justamente porque me dice que tengo valores nulos en stock final y obviamente no se puede rellenar la tabla del sql porque ahi no admite nulls. A REVISAR

In [41]:
# tablaInventariosCombinada = pd.concat([tablaInventariosInicial, tablaInventariosFinal])
# tablaInventariosCombinada.to_sql('Inventario', engine, if_exists='append', index=False)

Van de la mano de la anterior. No corre el codigo porque como la table madre no pudo tener un valor de inventarioID, la de ventas va a fallar tambien pero deja eso como nulo que no se puede. Posiblemente se solucione cuando el codigo de arriba corra.

In [44]:
# tablaVentas.to_sql('Ventas', engine, if_exists='append', index=False)

In [42]:
tablaCompras.to_sql('Compras', engine, if_exists='append', index=False)

64